@page "/camadasete/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Story:</label>
        <select @bind="SubStoryId">
            @foreach (var item in SubStory!.Where(sub => sub.StoryId == StoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Grupo:</label>
        <select @bind="GrupoId">
            @foreach (var item in Grupo!.Where(sub => sub.SubStoryId == SubStoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Grupo:</label>
        <select @bind="SubGrupoId">
            @foreach (var item in SubGrupo!.Where(sub => sub.GrupoId == GrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Sub-Grupo:</label>
        <select @bind="SubSubGrupoId">
            @foreach (var item in SubSubGrupo!.Where(sub => sub.SubGrupoId == SubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Seis:</label>
        <select @bind="exampleModel.CamadaSeisId">
            @foreach (var item in CamadaSeis!.Where(sub => sub.SubSubGrupoId == SubSubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private CamadaSete exampleModel = new();
    
    long StoryId = 0;
    long SubStoryId = 0;
    long GrupoId = 0;
    long SubGrupoId = 0;
    long SubSubGrupoId = 0;
    private List<Story> lista = new List<Story>();
    public List<SubStory> SubStory = new List<SubStory>();
    public List<Grupo> Grupo = new List<Grupo>();
    public List<SubGrupo> SubGrupo = new List<SubGrupo>();
    public List<SubSubGrupo> SubSubGrupo = new List<SubSubGrupo>();
    public List<CamadaSeis> CamadaSeis = new List<CamadaSeis>();

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await repositoryPagina!.Context.CamadaSete!.FirstAsync(l => l.Id == Id);
        var camadaseis = await repositoryPagina!.Context.CamadaSeis!.FirstAsync(l => l.Id == exampleModel.CamadaSeisId);
        SubSubGrupoId = camadaseis.SubSubGrupoId;
        var subsubgrupo = await repositoryPagina!.Context.SubSubGrupo!.FirstAsync(l => l.Id == SubSubGrupoId);
        SubGrupoId = subsubgrupo.SubGrupoId;
        var subgrupo = await repositoryPagina!.Context.SubGrupo!.FirstAsync(l => l.Id == SubGrupoId);
        GrupoId = subgrupo.GrupoId;
        var grupo = await repositoryPagina!.Context.Grupo!.FirstAsync(l => l.Id == GrupoId);
        SubStoryId = grupo.SubStoryId;
        lista = await repositoryPagina!.Context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        StoryId = lista.First().Id;
        SubStory = await repositoryPagina!.Context.SubStory!.ToListAsync();
        Grupo = await repositoryPagina!.Context.Grupo!.ToListAsync();
        SubGrupo = await repositoryPagina!.Context.SubGrupo!.ToListAsync();
        SubSubGrupo = await repositoryPagina!.Context.SubSubGrupo!.ToListAsync();
        CamadaSeis = await repositoryPagina!.Context.CamadaSeis!.ToListAsync();
    }

    private async void HandleSubmit()
    {
        exampleModel.Filtro!.Nome = exampleModel.Nome;
        repositoryPagina!.Context.Update(exampleModel);
        repositoryPagina!.Context.Update(exampleModel.Filtro);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("crud/camadasete");
        // Process the form
    }
}

