
@page "/acessoestante/{user?}"
@inject RepositoryPagina repositoryPagina
@inject IJSRuntime js
@inject NavigationManager navigation

    <PageTitle>Estante de @user </PageTitle>


    <h3>Estante de @user</h3>


@if(livro != null)
{
    
<center>
        <a href="@livro.Livro.url" >@livro.Livro.url</a>
    </center>
}
else
{
    <p>Usuario não possui livros</p>
}

<hr />

<a class="carousel-control-prev btn btn-dark" onclick="@anterior">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
</a>

<a class="carousel-control-next btn btn-dark" onclick="@proximo">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
    </svg>
</a>

<div>
    <p> Livro @indice de livros.Count </p>
</div>

<div class="DivPagina" style="background-color:white;">
    @{


            for (var ind = 1; ind <= livros.Count; ind++)
            {
                <div class="DivPag" id="DivPagina@(ind)">
                    @if (indice == ind)
                    {

                        <div>
                            <span class="indice"><b>@ind</b> </span>
                        </div>
                        <div class="barra">
                            -
                        </div>

                    }
                    else
                    {

                        <div>
                            <span class="indices"><b>@ind</b> </span>
                        </div>
                        <div class="barra">
                            -
                        </div>
                    }
                </div>
            }
        
        
        

    }
</div>

@code {
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    List<UserModelLivro> livros = new List<UserModelLivro>();
    [Parameter] public string? user { get; set; }
    UserModelLivro livro = null;
    private int indice = 1;

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);

        if(user is null)
        {
            user = await js.InvokeAsync<string>("prompt", "Informe o compartilhante.");
            user = user.Trim();
        }       

        livros = await Context.UserModelLivro!
        .Include(ul => ul.UserModel)
        .Include(ul => ul.Livro)
        .Where(ul => ul.UserModel.UserName == user).ToListAsync();

        livro = livros.FirstOrDefault()!;
    }

    private void proximo()
    {
        if (indice != livros.Count)
        indice++;
        else indice = 1;
        livro = livros.Skip(indice - 1).FirstOrDefault()!;

    }

    private void anterior()
    {
        if (indice != 1)
            indice--;
        else indice = 1;
        livro = livros.Skip(indice - 1).FirstOrDefault()!;
    }



}
