@page "/config/download-capitulo"
@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager navigation
@inject RepositoryPagina? repositoryPagina

<h3>DownloadCapitulo</h3>

<p>
    <label>Pesquisar:</label>
    <input id="url" @bind-value="Url" @bind-value:event="oninput" />
</p>

<EditForm Model="data" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <select @bind="data.Url">
        <option value="0" >Selecione uma opção</option>
        @{
            if(Url != null)
            foreach (var item in livros!.Where(sub => sub.url.Contains(Url)))
            {
                <option value="@item.url">@item.url</option>
            }
         }
    </select>
    
    <p>
        <label>Destino:</label>
        <select @bind="data.Capitulo">

            @foreach (var item in lista)
            {
                <option value="@item.PaginaPadraoLink">@item.CapituloComNome</option>
            }
        </select>
    </p>

    <p>
        <label>Capitulo para Download:</label>
        <input id="Download" @bind="data.Download" />
    </p>

    

    <p><button type="submit">Fazer Download</button></p>
</EditForm>

@code {

    DataForm data = new DataForm();
    string Mensagem;
    List<Story> lista = new List<Story>();
    List<Livro> livros = new List<Livro>();
    public string? Url { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;


    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        livros = await Context.Livro!.ToListAsync();
        lista = await Context.Story!
           .Where(str => str.Nome != "Padrao" && !str.Comentario).ToListAsync();

        if (lista.Count == 0)
        {
            Mensagem = "Crie seu primeiro story!!!";

        }
        data.Capitulo = lista.First().PaginaPadraoLink;
    }

    private async void HandleSubmit()
    {
        var url = data.Url + "/renderizar/" + data.Download + "/1/1/11/1/user/0";

        // WebClient client = new WebClient();
        var html = await repositoryPagina!.Verificar(url);

        if (string.IsNullOrEmpty(html))        
            Mensagem = "Pagina não encontrada!!! Informe corretamente o capitulo!!!";

        var verso = 1;
        var codigoHtml = "teste";
        var conteudoHtml = "";       

        Story destino = await Context.Story!
           .Include(dest => dest.Pagina!)
           .ThenInclude(dest => dest.Produto)
           .FirstAsync(dest => dest.Id == data.Capitulo);
        Pagina pagina = null;

        var Story = await Context.Story!.FirstAsync(st => st.Nome == "Padrao");

        while (!codigoHtml.Contains("<h1>Pagina não encontrada</h1>") && html != null)
        {

            codigoHtml = await repositoryPagina.Verificar(data.Url + "/renderizar/" + data.Download + $"/{verso}/1/11/1/user/0");
            var arr2 = codigoHtml.Split("<!-- ProdutoContent -->");
            conteudoHtml = arr2[1];

            
                pagina = await Context.Pagina!.Include(pa => pa.Story).Skip(verso -1)
               .FirstOrDefaultAsync(pa => pa.Produto == null && pa.StoryId == data.Capitulo);
                if (pagina == null)
                    break;

                pagina.Content = conteudoHtml;

                Context.Update(pagina);
                Context.SaveChanges();
            

            verso++;
        }


    }

    private void alterarUrl(string url)
    {
        Url = url;
    }

    class DataForm
    {
        public string? Url { get; set; }
        public int Capitulo { get; set; }
        public int Download { get; set; }
    }

}
