@page "/"
@page "/info/{dominio}/{compartilhante}/{compartilhante2}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}/{pasta6:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}/{pasta6:int}/{pasta7:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}/{pasta6:int}/{pasta7:int}/{pasta8:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}/{pasta6:int}/{pasta7:int}/{pasta8:int}/{pasta9:int}"
@page "/acesso-pastas/{dominio}/{compartilhante}/{compartilhante2}/{pasta1:int}/{pasta2:int}/{pasta3:int}/{pasta4:int}/{pasta5:int}/{pasta6:int}/{pasta7:int}/{pasta8:int}/{pasta9:int}/{pasta10:int}"
@page "/{capitulo:int}/{filtrar:int}"
@page "/{capitulo:int}/{indice}"
@page "/acesso/{indice}"
@page "/{filtrar:int}"
@page "/preferencia/{filtrar:int}/{p1:int}"
@page "/pref/{filtrar:int}/{p1:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}"
@page "/pref/{filtrar:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}"
@page "/form/{Capitulo:int}/{filtrar:int}/{dominio}/{compartilhante}/{compartilhante2}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/mensagem/{MensagemSistema}"




@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject UserManager<IdentityUser> userManager
@inject IJSRuntime js

<PageTitle>Instagleo</PageTitle>

<h3>@Mensagem</h3>



@if (MensagemSistema != null)
{
    <h3>@MensagemSistema</h3>    
}   

<p style="font-family: 'League Script', cursive; font-size:large;">
    A beleza da vida se multiplica cada vez Que a gente partilha com alguém que a gente ama.
    Se você quiser multiplicar a vida Você precisa dividí-la.
</p>
<p>
    Usuarios inscritos: @users
</p>
    
 <div class="container">
     <input type="text" @bind="Query"  placeholder="Nº do capitulo ou pesquisar" />
    <a id="acessoPaginaComInput2" href="#" onclick="@buscar"
       class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </a>     
 </div>

@if(filtros!.Count > 0)
{
    <div>
        <table>
            <tr>
                <th>Capitulo</th>
                <th>Resultado</th>
                <th></th>
            </tr>
            @foreach (var item in filtros!)
            {
                <tr>
                    <td>Capitulo @repositoryPagina.paginas!.First(p => p.StoryId == item.StoryId).Story!.PaginaPadraoLink </td>
                    <td>@item.Nome</td>
                    <td><a href="#" onclick="@(() => Acessar(item))">Acessar</a></td>
                </tr>
            }

        </table>
    </div>
}
<img src="/story.jpg" width="500" />

<a href="/comentario/0/1" style="background-color:rgb(208, 146, 61); font-size:large;color:rgb(95, 56, 23);">
        Compartilhe seu comentário
    </a>


@code{
    [Parameter] public int? pasta1 { get; set; }
    [Parameter] public int? pasta2 { get; set; }
    [Parameter] public int? pasta3 { get; set; }
    [Parameter] public int? pasta4 { get; set; }
    [Parameter] public int? pasta5 { get; set; }
    [Parameter] public int? pasta6 { get; set; }
    [Parameter] public int? pasta7 { get; set; }
    [Parameter] public int? pasta8 { get; set; }
    [Parameter] public int? pasta9 { get; set; }
    [Parameter] public int? pasta10 { get; set; }


    [Parameter] public int? capitulo { get; set; }
    [Parameter] public int? p1 { get; set; }
    [Parameter] public int? p2 { get; set; }
    [Parameter] public int? p3 { get; set; }
    [Parameter] public int? p4 { get; set; }
    [Parameter] public int? p5 { get; set; }
    [Parameter] public int? p6 { get; set; }
    [Parameter] public int? p7 { get; set; }
    [Parameter] public int? p8 { get; set; }
    [Parameter] public int? p9 { get; set; }
    [Parameter] public int? p10 { get; set; }
    [Parameter] public string? indice { get; set; }
    [Parameter] public int? filtrar { get; set; }
    [Parameter] public string? MensagemSistema { get; set; }
    [Parameter] public string? dominio { get; set; }
    [Parameter] public string? compartilhante { get; set; }
    [Parameter] public string? compartilhante2 { get; set; }
    public string? Query { get; set; }
    List<Filtro>? filtros = new List<Filtro>();
    int cap = 1;
    string? Mensagem { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private int users = 0;

    private string erro1 = "Voce ainda não esta compartilhando nenhum livro";

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        var quant = await userManager.Users.ToListAsync();
        users = quant.Count;

        var livro = await Context.Livro!.FirstOrDefaultAsync(l => l.Compartilhando);
        if (compartilhante == null)        
            compartilhante = repositoryPagina.buscarAdmin();
        if(dominio == null)
            dominio = repositoryPagina.buscarDominio();

        else if (dominio != repositoryPagina.buscarDominio())
        {
            var domi = await Context.Compartilhante!.FirstOrDefaultAsync(l => l.Livro == dominio);
            if (domi == null)
            {
                var compartilhant = new business.Compartilhante
                    {
                        Livro = dominio,
                        Admin = compartilhante,
                        Data = DateTime.Now,
                        Comissao = 5
                        // ComissaoParaUser = 0.25 * Comissao,
                       // Desconto = 0.5 * Comissao
                    };
                await Context.AddAsync(compartilhant);
                await Context.SaveChangesAsync();
            }
        }

        if(compartilhante2 == null)
        {
            compartilhante2 = "userEmail";
        }
        else
        {
            var usuarioCompartilhante = userManager.Users.FirstOrDefault(u => u.UserName == compartilhante2);
            if (usuarioCompartilhante == null)
                compartilhante2 = "user";
        }


        if (capitulo != null && indice != null && indice.Contains("verso"))
        {
            navigation.NavigateTo($"/renderizar/{capitulo}/{indice.Replace("verso-", "")}/1/11/1/{dominio}/{compartilhante}/{compartilhante2}");
        }
        else if (capitulo != null && filtrar != null)
        {
            navigation.NavigateTo($"/filtro/{capitulo}/pasta-{filtrar}/{dominio}/{compartilhante}/{compartilhante2}/0/0/0/0/0/0/0/0/0/0/1");
        }        
        else if (indice != null)
        { 
            var number = Regex.Match(indice, @"d+").Value;
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/renderizar/{livro.Capitulo}/{number}/1/11/1/{dominio}/{compartilhante}/{compartilhante2}");
            else
                Mensagem = erro1;
        }
        else if (filtrar != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/filtro/{livro.Capitulo}/pasta-{filtrar}/{dominio}/{compartilhante}/{compartilhante2}/0/0/0/0/0/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (capitulo != null && p1 != null)
        {
            if (p10 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/{p9}/{p10}");
            else if (p9 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/{p9}/0");               
            else if (p8 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/0/0");               
            else if (p7 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/0/0/0");               
            else if (p6 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/0/0/0/0");               
            else if (p5 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/0/0/0/0/0");                
            else if (p4 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/0/0/0/0/0/0");                
            else if (p3 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/0/0/0/0/0/0/0");                
            else if (p2 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/0/0/0/0/0/0/0/0");                            
            else if (p1 != null)
                navigation.NavigateTo($"/formulario/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/0/0/0/0/0/0/0/0/0");
        }
        else if (p10 != null)
        {

            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/{p9}/{p10}");
            else
                Mensagem = erro1;
        }
        else if (p9 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/{p9}/0");
            else
                Mensagem = erro1;
        }
        else if (p8 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/{p8}/0/0");
            else
                Mensagem = erro1;
        }
        else if (p7 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/{p7}/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p6 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/{p6}/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p5 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/{p5}/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p4 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/{p4}/0/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p3 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/{p3}/0/0/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p2 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/{p2}/0/0/0/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (p1 != null)
        {
            if (livro != null)
                navigation.ToAbsoluteUri($"{livro.url}/lista-filtro/1/teste/1/11/20/{dominio}/{compartilhante}/{compartilhante2}/{capitulo}/{filtrar}/{p1}/0/0/0/0/0/0/0/0/0");
            else
                Mensagem = erro1;
        }
        else if (pasta1 != null)
        {
            Livro[] livros = null;
            int[] caps = null;
            int[] pastas = null;
            UserBook1? livroCompartilhado = await Context.UserBook1.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado != null) { livros = new Livro[1]; caps = new int[1]; }
            UserBook2? livroCompartilhado2 = await Context.UserBook2.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado2 != null) { livros = new Livro[2]; caps = new int[2]; }
            UserBook3? livroCompartilhado3 = await Context.UserBook3.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado3 != null) { livros = new Livro[3]; caps = new int[3]; }
            UserBook4? livroCompartilhado4 = await Context.UserBook4.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado4 != null) { livros = new Livro[4]; caps = new int[4]; }
            UserBook5? livroCompartilhado5 = await Context.UserBook5.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado5 != null) { livros = new Livro[5]; caps = new int[5]; }
            UserBook6? livroCompartilhado6 = await Context.UserBook6.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado6 != null) { livros = new Livro[6]; caps = new int[6]; }
            UserBook7? livroCompartilhado7 = await Context.UserBook7.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado7 != null) { livros = new Livro[7]; caps = new int[7]; }
            UserBook8? livroCompartilhado8 = await Context.UserBook8.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado8 != null) { livros = new Livro[8]; caps = new int[8]; }
            UserBook9? livroCompartilhado9 = await Context.UserBook9.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado9 != null) { livros = new Livro[9]; caps = new int[9]; }
            UserBook10? livroCompartilhado10 = await Context.UserBook10.Include(u => u.Livro).FirstOrDefaultAsync(u => u.user == repositoryPagina.buscarAdmin());
            if (livroCompartilhado10 != null) { livros = new Livro[10]; caps = new int[10]; }
            if (livroCompartilhado != null)   livros[0] = livroCompartilhado.Livro!;
            if (livroCompartilhado2 != null)  livros[1] = livroCompartilhado2.Livro!;
            if (livroCompartilhado3 != null)  livros[2] = livroCompartilhado3.Livro!;
            if (livroCompartilhado4 != null)  livros[3] = livroCompartilhado4.Livro!;
            if (livroCompartilhado5 != null)  livros[4] = livroCompartilhado5.Livro!;
            if (livroCompartilhado6 != null)  livros[5] = livroCompartilhado6.Livro!;
            if (livroCompartilhado7 != null)  livros[6] = livroCompartilhado7.Livro!;
            if (livroCompartilhado8 != null)  livros[7] = livroCompartilhado8.Livro!;
            if (livroCompartilhado9 != null)  livros[8] = livroCompartilhado9.Livro!;
            if (livroCompartilhado10 != null) livros[9] = livroCompartilhado10.Livro!;
            if (livroCompartilhado != null)   caps[0] =  livroCompartilhado.Capitulo;
            if (livroCompartilhado2 != null)  caps[1] = livroCompartilhado2.Capitulo;
            if (livroCompartilhado3 != null)  caps[2] = livroCompartilhado3.Capitulo;
            if (livroCompartilhado4 != null)  caps[3] = livroCompartilhado4.Capitulo;
            if (livroCompartilhado5 != null)  caps[4] = livroCompartilhado5.Capitulo;
            if (livroCompartilhado6 != null)  caps[5] = livroCompartilhado6.Capitulo;
            if (livroCompartilhado7 != null)  caps[6] = livroCompartilhado7.Capitulo;
            if (livroCompartilhado8 != null)  caps[7] = livroCompartilhado8.Capitulo;
            if (livroCompartilhado9 != null)  caps[8] = livroCompartilhado9.Capitulo;
            if (livroCompartilhado10 != null) caps[9] = livroCompartilhado10.Capitulo;
            if (pasta1 != null) pastas = new int[1];
            if (pasta2 != null) pastas = new int[2];
            if (pasta3 != null) pastas = new int[3];
            if (pasta4 != null) pastas = new int[4];
            if (pasta5 != null) pastas = new int[5];
            if (pasta6 != null) pastas = new int[6];
            if (pasta7 != null) pastas = new int[7];
            if (pasta8 != null) pastas = new int[8];
            if (pasta9 != null) pastas = new int[9];
            if (pasta10 != null) pastas = new int[10];
            if (pasta10 != null) pastas[9] = (int) pasta10!;
            if (pasta9 != null)  pastas[8] = (int) pasta9!;
            if (pasta8 != null)  pastas[7] = (int) pasta8!;
            if (pasta7 != null)  pastas[6] = (int) pasta7!;
            if (pasta6 != null)  pastas[5] = (int) pasta6!;
            if (pasta5 != null)  pastas[4] = (int) pasta5!;
            if (pasta4 != null)  pastas[3] = (int) pasta4!;
            if (pasta3 != null)  pastas[2] = (int) pasta3!;
            if (pasta2 != null)  pastas[1] = (int) pasta2!;
            if (pasta1 != null)  pastas[0] = (int) pasta1!;



            if ( livroCompartilhado != null)
            {
                string url = "";
                for(var i = 0; i < pastas.Length; i++)
                {
                    if (livros.Length <= pastas.Length && i <= livros.Length)
                    {
                        url = $"{livros[i].url}/filtro/{caps[i]}/{pastas[i]}/0/{dominio}/{compartilhante}/{compartilhante2}/0/0/0/0/0/0/0/0/0/0";
                        await js!.InvokeAsync<object>("AcessarSites", url);
                    }                 
                    
                }
                

            }
        }

       
    }

    private void Acessar(Filtro item)
    {
        var cap = repositoryPagina.paginas!.First(p => p.StoryId == item.StoryId).Story!.PaginaPadraoLink;
        var filtros = repositoryPagina.paginas!.First(p => p.StoryId == item.StoryId).Story!.Filtro;
        var fil = filtros!.First(f => f.Id == item.Id);
        var indiceFiltro = filtros!.IndexOf(fil) + 1;
        navigation.NavigateTo($"/filtro/{cap}/pasta-{indiceFiltro}/{dominio}/{compartilhante}/{compartilhante2}/1");
    }

    private async void buscar()
    {
        try
        {
            cap = int.Parse(Query!);
            navigation.NavigateTo($"/renderizar/{cap}/1/1/11/1/{dominio}/{compartilhante}/{compartilhante2}");
        }
        catch(Exception ex)
        {
            if (!string.IsNullOrEmpty(Query) && repositoryPagina.paginas!.Count == repositoryPagina.buscarCount())
            {
                filtros = await Context.Filtro!
                .Include(f => f.Story)
                .Where(f => f.Rotas!.ToLower().Contains(Query!.ToLower())).ToListAsync();

                if(filtros.Count == 0)
                {
                    var rota = new Rota
                        {
                            Nome = Query,
                            Registrado = false
                        };
                        Context.Add(rota);
                        await Context.SaveChangesAsync();
                }
            }
            cap = 1;
        }
    }

   
}