@page "/"
@page "/acesso/{indice}"
@page "/livro/{nomeLivro}"
@page "/{nomeLivro}/{capitulo:int}/{indice}"
@using System.Data
@using System.Threading.Tasks



@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject UserManager<UserModel> userManager
@inject IJSRuntime js
@inject ITourService TourService
@inject AuthenticationStateProvider? AuthenticationStateProvider 
@inject N8nService N8nService





<PageTitle>Instagleo</PageTitle>

<div class="row">
    <LoginDisplay />
</div>

<button class="btn btn-primary" type="button" @onclick="StartTour">Start Tour</button>

@* <button @onclick="DispararFluxo">Executar Automação</button> *@

<div class="info">

    <p>
        Usuarios inscritos: @users
    </p>

    <p>
        <a data-5 href="#" onclick="@(() => navigation.NavigateTo("/createcontent"))">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
            </svg>
        </a>
        <a  href="#" onclick="@(() => navigation.NavigateTo("/conteudo"))" style="margin-left: 10px;" >
            <strong>Content</strong>
        </a>
    </p>
</div>

<div data-first>

    <p style="font-family: 'League Script', cursive; font-size:large;">
        A beleza da vida se multiplica cada vez Que a gente partilha com alguém que a gente ama.
        Se você quiser multiplicar a vida Você precisa dividí-la.
    </p>

</div>

@if (filtros!.Count > 0)
{
    <div class="filtros">

        @if(maisDeUmCriterio)
        {
            <p><strong><u>Mais criterios</u></strong></p>
                <p style="text-align: center;"> 
                <strong> 
                   @filtros.First().Livro?.Nome
                 - Cap. @filtros.First().Story?.Capitulo 
                 - @Query
                 </strong> 
                 </p>

                <p>
                    @foreach (var item in filtros!)
                    {
                        <a  onclick="@(() => Acessar(item))">
                            <span title="Acessar @(item.Nome)">
                                - Versículo @(retornarVersoComCriterio(item)), 
                            </span>

                        </a>
                    }
                </p>
                <br/>
                <p> 
                    <a onclick="@compartilhar">
                         <strong>compartilhar</strong>
                    </a>
                </p>
                <br/>
                <p>
                    <a onclick="@anotar">
                         <img src="/anotar.gif" style="width:50px; margin:5px;" />
                          <strong>Anotar...</strong>  
                    </a>
                </p>
        }
        else
        {
            <p style="text-align: center;"> <strong>Livro - capitulo - verso</strong> </p>

            <hr />

            @foreach (var item in filtros!)
            {
                <p>
                    <a  onclick="@(() => Acessar(item))" >

                        @if (item.Livro != null)
                        {
                            <span> @item.Livro.Nome - </span>
                        }
                        else
                        {
                            <span>Instagleo - </span>
                        }
                        <span> Cap. @item.Story!.Capitulo - </span>
                        <span> ( @item.Nome ) Versículo @retornarVersoComCriterio(item)</span>

                    </a>
                </p>
            }

        }

    </div>
}


<div class="Criterios" >
<BarraPesquisa Value="@Query" OnSearch="buscar" ></BarraPesquisa> 

    @{
        if ( ocultar == "1")
        {
            <a onclick="@Ocultar" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-slash-minus" viewBox="0 0 16 16">
                <path d="m1.854 14.854 13-13a.5.5 0 0 0-.708-.708l-13 13a.5.5 0 0 0 .708.708M4 1a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 4 1m5 11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 9 12"/>
                </svg>
            </a> 
        }
        else
        {
            <a onclick="@Ocultar" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-slash-minus" viewBox="0 0 16 16">
                <path d="m1.854 14.854 13-13a.5.5 0 0 0-.708-.708l-13 13a.5.5 0 0 0 .708.708M4 1a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 4 1m5 11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 9 12"/>
                </svg>
            </a> 
        }

}



<div class="Criterios2">

<FiltroCheckBox Label="Criterio 1" CheckedChanged="OnCriterio1Changed" Id="criterio1" Checked=checkedCriterio1 ></FiltroCheckBox>

<FiltroCombobox Label="Criterio 2" Opcoes="options" OnChanged="OnCriterio2Changed" Value="@criterio2"  >     

</FiltroCombobox>  

<PainelFiltros> </PainelFiltros> 
</div>

</div>



<div class="apresentacao">

    @if(nomeLivro == null)
    {
        <img src="/story.jpg" style="width:60%" />
    }
    else if(livro != null)
    {
        @markup
    }
    else
    {
        <div style="text-align:center;">
            <h1>Livro não encontrado</h1>

        </div>
    }

   


</div>

<GuidedTour TourId="FormGuidedTour" OverlayEnabled="true">
    <GuidedTourStep Title="Instagleo" StepName="firstStep" TourStepSequence="1"
    ElementSelector="[data-first]">
        <span>Seja Bem-vindo ao nosso sistema de compartilhamento de paginas</span>
    </GuidedTourStep>
    <GuidedTourStep Title="acessando stories" StepName="Step2" TourStepSequence="2"
    ElementSelector="[data-2]">
        <span>
            Pesquise sobre qualquer assunto e saiba qual é o livro,
             capitulo e versiculo
             </span>
    </GuidedTourStep>
    <GuidedTourStep Title="Sumario" StepName="Step3" TourStepSequence="3"
    ElementSelector="[data-3]">
        <span>No sumário você poderá ver todos os capitulos </span>
    </GuidedTourStep>
    <GuidedTourStep Title="Estante" StepName="Step4" TourStepSequence="4"
    ElementSelector="[data-4]">
        <span>
            Defina todos os livros que você quer compartilhar.
        </span>
    </GuidedTourStep>
    
    <GuidedTourStep Title="Configurações" StepName="Step5" TourStepSequence="8"
    ElementSelector="[data-5]">
        <span>
            Compartilhe mais conteudos para capitulos e pastas.
        </span>
    </GuidedTourStep>
</GuidedTour>

@code
{

    [Parameter] public int? capitulo { get; set; }

    [Parameter] public string? nomeLivro { get; set; } = "";
    [Parameter] public string? indice { get; set; }
    public string? Query { get; set; }
    public string? Usuario { get; set; }
    List<SubFiltro>? filtros = new List<SubFiltro>();
    List<SubFiltro>? filtros2 = new List<SubFiltro>();


    List<FilterOption> options = new List<FilterOption>();

    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private int users = 0;
    // private int? carregando = null; 
    private string placeholder = "Pesquisar";
    //private bool marcar;

    private MarkupString markup;

    private Story _story = null;

    private Livro livro = null;
    private bool maisDeUmCriterio = false;

    //int? verso = null;
    //long? filtro = null;
    private bool checkedCriterio1 = false;
    private string criterio2 = "";

    private string ocultar = "1"; 


    protected override async Task OnParametersSetAsync()
    {        
        try
        {
            repositoryPagina.CapituloLivro = 1;
            Story padrao = null;
            string? dominio = await js.InvokeAsync<string>("retornarSubdominio", "url");

            var lista =  RepositoryPagina.stories;

            if (dominio != null)
            {

                string? subdominio = dominio.Split('.')[0];
                padrao = lista.FirstOrDefault(i => i.Nome.Replace(" ", "").Contains(subdominio))!;
            }

            if (padrao != null) repositoryPagina.CapituloLivro = padrao.Capitulo;
        }
        catch(Exception ex)
        {

        }



    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
        .GetAuthenticationStateAsync();
        var user = authState.User;

        // if (!user.Identity!.IsAuthenticated)
        // {
        //     navigation.NavigateTo("/Identity/Account/Login");

        // }


        Context = db.CreateDbContext(null);
        var quant = await userManager.Users.ToListAsync();
        users = quant.Count;      

        if (nomeLivro != null)
            livro = await Context.Livro.FirstOrDefaultAsync(l => l.Nome == nomeLivro);

        repositoryPagina.exibir = true;        

        if (_story == null)
        {
            _story = await Context.Story!
            .FirstOrDefaultAsync(p => p.Capitulo == repositoryPagina.CapituloLivro)!;
        }

        filtros2 = await Context.SubFiltro!
            .Include(f => f.Camada)!
            .Include(f => f.Criterio)!
            .ThenInclude(f => f.Content)
            .Include(f => f.Pagina)!
            .ThenInclude(f => f.Content)
            .Include(f => f.Story)
            .Include(f => f.Livro)
            .Where(f => f.Pagina.Count > 0 &&
             !f.UltimaPasta &&
              f.Criterio != null)
            .ToListAsync();


        if(livro != null && capitulo != null )
        {

            var str = RepositoryPagina.stories.FirstOrDefault(st => st.Capitulo == capitulo);
            if(str != null)
                navigation.NavigateTo($"/renderizar/{livro.Nome}/{str.Capitulo}/{indice}/comp");
            else
                navigation.NavigateTo($"/renderizar/{str.Capitulo}/{indice}/comp");
        }

        if(livro != null)
            markup = new MarkupString(livro.Capa);

        options.Add(new FilterOption { Value = "criterio1", Text = "Criterio 1" });
        options.Add(new FilterOption { Value = "criterio2", Text = "Criterio 2" });

        Ocultar();

    }

    private async void Acessar(Filtro item)
    {        
        var itemContent = 1;
        Chave ch = null;
        var fil = filtros2!
        .FirstOrDefault(f => f.FiltroId == item.Id); 
        if(fil == null)
            itemContent = repositoryPagina.random.Next(1, item.Pagina.Count());
        else
            itemContent = repositoryPagina.random.Next(1, fil.Pagina.Count());

        if(fil != null)        
            ch = (Chave)fil.Criterio.Content!;
        else
        {
            var f = Context.SubFiltro
            .Include(s => s.Criterio)
            .ThenInclude(s => s.Content)
            .FirstOrDefault(s => s.FiltroId == item.Id);
            ch = (Chave)f.Criterio.Content!;
        }
        var str = Context.Story.First(s => s.Id == item.StoryId);

        if(item.Livro == null && ch != null)
            navigation.NavigateTo($"/renderizar/{str.Capitulo}/{ch.Versiculo}/{itemContent}/comp");
        else
            navigation.NavigateTo($"/renderizar/{item.Livro.Nome}/{str.Capitulo}/{ch.Versiculo}/{itemContent}/comp");




    }

    private async void buscar(string textoDigitado)
    {
        Query = textoDigitado;
        //vamos la, aqui é onde a mágica acontece. Quando o usuário digita algo na barra de pesquisa, essa função é chamada. Ela verifica se a consulta (Query) não está vazia e, em seguida, realiza uma busca no banco de dados para encontrar os filtros que correspondem à consulta.

        if (!string.IsNullOrEmpty(Query))
        {
            var termos = maisCriterio();
            if(termos.Count > 1)
            {
                maisDeUmCriterio = true;
                PesquisarComMaisCriterio2(termos);
            }
            else if(termos.Count == 1)
            {
                maisDeUmCriterio = false;
                filtros = filtros2
                .Where(f => f.Nome!.ToLower().Contains(termos[0].ToLower()))
                .ToList();          
            }
            else
            {
                maisDeUmCriterio = false;
                filtros = filtros2
                .Where(f => f.Nome!.ToLower().Contains(Query.ToLower()))
                .ToList();    

            }

        }
        else if (string.IsNullOrEmpty(Query))
        {
            filtros = new List<SubFiltro>();
        }            
    }

    private async Task StartTour()
    {
        await TourService.StartTour("FormGuidedTour");
    }

    private void limparFiltros()
    {
        filtros.Clear();
    }

    private int retornarVerso(Content c)
    {
        Pagina pag = (Pagina)c;
        return pag.Versiculo;
    }

    private int retornarVersoComCriterio(SubFiltro c)
    {
        var f = Context!.SubFiltro
        .Include(s => s.Criterio)
        .ThenInclude(s => s.Content)
        .FirstOrDefault(f => f.FiltroId == c.Id);
        if (f == null)
        {
            if(c.Criterio != null)
            {
                f = Context.SubFiltro
                .Include(s => s.Criterio)
                .ThenInclude(s => s.Content)
                .FirstOrDefault(s => s.FiltroId == c.Id);

                return retornarVerso(f.Criterio.Content!);

            }
            try
            {

                if(c == null)
                    return 0;
                else if(c.Criterio == null)
                {
                    f = Context.SubFiltro
                .Include(s => s.Criterio)
                .ThenInclude(s => s.Content)
                .FirstOrDefault(s => s.Id == c.ComCriterio);
                    return retornarVerso(f.Criterio.Content!);

                }
            }
            catch(Exception ex)
            {
                return 0;
            }

            return 0; 

        } 
        else
        {
            if(c.Criterio == null){
                f = Context.SubFiltro
                    .Include(s => s.Criterio)
                    .ThenInclude(s => s.Content)
                    .FirstOrDefault(s => s.Id == c.ComCriterio); 
            }
            var retorno = retornarVerso(f.Criterio.Content!);
            return retorno;
        }
    }

    private async Task DispararFluxo()
    {
        var dados = new { 
            Usuario = "João Silva", 
            Email = "joao@exemplo.com",
            Data = DateTime.Now 
        };

        await N8nService.EnviarDadosAsync(dados);
    }

    private List<SubFiltro> PesquisarComMaisCriterio(List<string> termos)
    {
        //tratando sql injection e otimizando a consulta para evitar múltiplas id's
        List<SubFiltro> result = new List<SubFiltro>();

        if (termos == null || termos.Count == 0)
            return result;

        try
        {
            using (var con = new SqlConnection(ApplicationDbContext._connectionString))
            {
                StringBuilder sql = new StringBuilder();
                sql.Append("WITH ArvoreRecursiva AS ( "); // OVER() é mais eficiente para totalizadores
                sql.Append("SELECT Id, FiltroId, CriterioId, Nome "); // OVER() é mais eficiente para totalizadores
                sql.Append("FROM Filtro WHERE ");

                var cmd = new SqlCommand();
                List<string> condicoes = new List<string>();

                // Criando parâmetros dinamicamente para cada palavra da busca
                for (int i = 0; i < termos.Count; i++)
                    condicoes.Add($"Nome LIKE '{termos[i]}'");


                sql.Append(string.Join(" OR ", condicoes));
                sql.Append(" UNION ALL SELECT t.Id, t.FiltroId, t.CriterioId, t.Nome FROM Filtro t INNER JOIN ArvoreRecursiva r ON t.FiltroId = r.Id ");
                sql.Append(" ) SELECT * FROM ArvoreRecursiva; "); 

                cmd.CommandText = sql.ToString(); 
                cmd.Connection = con;

                con.Open();
                using (var reader = cmd.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        result.Add(new SubFiltro
                    {
                        Id = reader.IsDBNull(0) ? 0 : reader.GetInt64(0),
                        FiltroId = reader.IsDBNull(1) ? 0 : reader.GetInt64(1),
                        CriterioId = reader.IsDBNull(2) ? 0 : reader.GetInt64(2),
                        Nome = reader.IsDBNull(3) ? string.Empty : reader.GetString(3) 
                    });
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao pesquisar com mais critério: {ex.Message}");
            return new List<SubFiltro>();
        }
        return result;
    }

    private void PesquisarComMaisCriterio2(List<string> termos)
    {
        filtros.Clear();
        var lista = PesquisarComMaisCriterio(termos);
        foreach(var item in lista)
        {
            var f = Context.SubFiltro
            .Include(s => s.Criterio)
            .ThenInclude(s => s.Content)
            .FirstOrDefault(f => f.Id == item.Id && !f.UltimaPasta);
            if(f != null)
                filtros.Add(f); 
        }
       
    }

    private List<string> maisCriterio()
    {  
        var arr = Query.Trim().Split(' ');
        List<string> termos = new List<string>();
        string teste = Query.ToLower();
        int teste2 = 0;
        if(arr.Length > 1)
            while(teste.Contains(" "))
            {
                foreach(var item in filtros2)
                    if(filtros2
                    .FirstOrDefault(f => teste.Contains(item.Nome.ToLower())) != null)                
                    {
                        termos.Add(item.Nome.ToLower());
                        teste = teste.Replace(item.Nome.ToLower(),"").Trim();                                   
                    }
                    else
                        teste2++;

                if(teste2 > 100)
                    break;
            }

        return termos;
    }

    private async void compartilhar()
    {
        var authState = await AuthenticationStateProvider
        .GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity!.IsAuthenticated)
        {
            var result = "";
            foreach(var item in filtros)            
                result += retornarVerso(item.Criterio.Content!).ToString() + ", ";

            var usuario = await userManager.GetUserAsync(user);
            usuario.Compartilhar = $"({Query} - {string.Join(",", result)})";
            await userManager.UpdateAsync(usuario);             
            await js.InvokeVoidAsync("alert", "Compartilhado com sucesso!");

        }
    }

    private async void anotar()
    {
        //aqui você pode implementar a lógica para anotar o conteúdo
        Console.WriteLine("Anotar conteúdo");
        var authState = await AuthenticationStateProvider
       .GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity!.IsAuthenticated)
        {
            var anotacao = new Anotacao
            {
                UserModelId = userManager.GetUserId(user),
                Query = Query,
                Capitulo = filtros.FirstOrDefault()?.Story?.Capitulo ?? 0,
                LivroId = filtros.FirstOrDefault()?.LivroId,
                DataCriacao = DateTime.Now           
            };
            await Context.Anotacao.AddAsync(anotacao);
            await Context.SaveChangesAsync();

            foreach(var item in filtros)
                anotacao.FazerAnotacao(item);

            await Context.SaveChangesAsync();
            await js.InvokeVoidAsync("alert", "Anotação criada com sucesso!");
        }
    }
    private void OnCriterio1Changed(bool args)
    {
        if (args)
            checkedCriterio1 = true;
        else        checkedCriterio1 = false;
    }

    private void OnCriterio2Changed(string valorSelecionado)
    {
        Console.WriteLine($"O usuário escolheu: {valorSelecionado}");
        // Aqui você filtra sua lista
    } 

    private async void Ocultar()
    {
        try
        {
            ocultar = await js!.InvokeAsync<string>("Ocultar", "1");   
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Erro ao alternar visibilidade: {ex.Message}");
        }
    }



}