@page "/lista-filtro/{pagina:int}/{ordenar}/{compartilhante}/{auto:int}/{interval:int}/{tamanho:int}/{Capitulo:int}/{indiceFiltro:int}"
@page "/formulario/{pagina:int}/{ordenar}/{auto:int}/{interval:int}/{tamanho:int}/{Capitulo:int}/{indiceFiltro:int}"


@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@inject AuthenticationStateProvider? AuthenticationStateProvider
@inject IJSRuntime js
@inject BlazorTimer Timer
@layout MeuLayout

<PageTitle>listas de filtro</PageTitle>

<div id="configuracao">
    <p id="livro">www.instagleo.net.br</p>
    <p id="config">
        <strong>
            @if (Model.FirstOrDefault(p => p.Produto != null) != null)
    {
                <a  id="configurar" onclick="@(() => clicou())">Info e Config</a>
            }
            else
            {
                <a  id="configurar" onclick="@(() => clicou())">Config</a>                
            }
        </strong>
    </p>
    
   
    <p id="automatico">
        <strong>
            @{
                if (auto == 1)
                {
                    <a href="#"
                       onclick="@( () => desabilitar())">
                        Desabilitar automático
                    </a>
                }
                else
                {
                    <a href="#"
                       onclick="@( () => abilitar())">
                        Habilitar automático
                    </a>
                }
            }

        </strong>
    </p>

    <p id="lista">
        <strong>
            @{
                if (pagina > 1)
                {
                    <a href="#"
                       onclick="@( () => navigation.NavigateTo($"/lista-filtro/{pagina -1}/{ordenar}/{compartilhante}/{auto}/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}"))">
                        Lista Anterior ||
                    </a>
                }

            }

            <a href="#"
               onclick="@( () => navigation.NavigateTo($"/lista-filtro/{pagina +1}/{ordenar}/{compartilhante}/{auto}/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}"))">
                Proxima lista >>>
            </a>

        </strong>
    </p>
</div>

<div id="cabecalho">   

    @if (Model.FirstOrDefault(p => p.Produto != null) != null)
    {
         <div id="ordenacao">
        <h4>Ordenar</h4>

        <input type="hidden" value="@auto" id="auto" name="auto">
        <a href="#"
           onclick="@( () => navigation.NavigateTo($"/lista-filtro/{pagina}/nome/1/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}"))">
            Ordenar por nome
        </a>
        <a href="#"
           onclick="@( () => navigation.NavigateTo($"/lista-filtro/{pagina}/preco/1/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}"))">
            Ordenar por preço
        </a>
        <a href="#"
           onclick="@( () => navigation.NavigateTo($"/lista-filtro/{pagina}/descricao/1/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}"))">
            Ordenar por capitulo
        </a>
    </div>
   
        
    <div id="proxima-lista">
        <h3>Tamanho da lista</h3>
        <strong>
            <a href="#"
               onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/11/{Capitulo}/{indiceFiltro}"))">
                10 itens
            </a>

        </strong>
        <strong>
            <a href="#"
               onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/41/{Capitulo}/{indiceFiltro}"))">
                40 itens
            </a>

        </strong>
        <strong>
            <a href="#"
               onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/81/{Capitulo}/{indiceFiltro}"))">
                80 itens
            </a>
        </strong>
        </div>
    }
    else
    {
        <div id="proxima-lista">
            <h3>Tamanho da lista</h3>
            <strong>
                <a href="#"
                   onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/6/{Capitulo}/{indiceFiltro}"))">
                    5 itens
                </a>

            </strong>
            <strong>
                <a href="#"
                   onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/11/{Capitulo}/{indiceFiltro}"))">
                    10 itens
                </a>

            </strong>
            <strong>
                <a href="#"
                   onclick="@( () => navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/16/{Capitulo}/{indiceFiltro}"))">
                    15 itens
                </a>
            </strong>
        </div>
    }

    <div>
        <label for="interval"> <strong>Time em segundos (s):</strong> </label>
        <input type="number" @bind="interval"  max="600" min="5">


    </div>

</div>

<h3>Lista de Filtro</h3>


 Capitulo @Capitulo
<a href="#" onclick="@(() => acessarPasta())">
    Pasta @indiceFiltro
</a>
@if(filtro != null)
{
    <p> <header>@filtro.Nome</header> </p>
}

<p>Qual sua preferência?</p>
@{
    if(Model == null || Model.Count == 0)
    {
        <p>Aguarde um momento... quantidade igual a @Model.Count</p>
    }
    else
    {
        <div class="container">
      
        @if (Model.FirstOrDefault(p => p.Produto != null) != null)
        {
            @foreach(var item in Model)
            {
            <div class="divs"> 
                @if (Model!.ToList().IndexOf(item) != 0)
                {
                    var paginaItem = Context.Pagina!.First(p => p.Id == item.Id);
                    var path = paginaItem.Produto!.Imagem!.First().ArquivoImagem;
                    var largura = paginaItem.Produto!.Imagem!.First().WidthImagem;
                    var identifica = paginaItem.Id;
                    List<Pagina> lista = paginaItem.Story!.Pagina!.OrderBy(p => p.Id).ToList();
                    var Capitulo = paginaItem.Story.PaginaPadraoLink;

                    var Versiculo = lista.IndexOf(lista.First(l => l.Id == identifica)) + 1;
                    if (item.Content.Contains("ContentIframe"))
                    {
                        var markup = new MarkupString(item.Content);
                        <div class="content" >
                            @markup
                        </div>
                    }
                    else
                    {
                         <div class="produto" onclick="cancelar()">
                           
                    
                    <div class="info">
                        <p> Nome: @item.Produto!.Nome </p>
                        <p> Descrição: @item.Produto!.Descricao </p>
                        <p> Preço: @item.Produto!.Preco </p>
                        <p> Estoque: @item.Produto!.QuantEstoque </p>
                    </div>
                    <div class="caps">
                            <a target="_blank" href="/renderizar/@Capitulo/@Versiculo/0/11/1/0/0/0/0/dominio/comp/comp2">
                            Versiculo @Versiculo
                        </a>
                    </div>
                    <p>
                        <img src="@path" alt="Imagem do produto" />
                    </p>

                </div>
                        
                    }

               

                }
            </div>
            }

        }
        else
        {
            @foreach (var item in Model)
            {
            <div class="divs">
                @if (Model!.ToList().IndexOf(item) != 0)
                {
                    var paginaItem = Context.Pagina!.First(p => p.Id == item.Id);
                    var identifica = paginaItem.Id;
                    List<Pagina> lista = paginaItem.Story!.Pagina!.OrderBy(p => p.Id).ToList();
                    var Capitulo = paginaItem.Story.PaginaPadraoLink;                    
                    var markup = new MarkupString(item.ContentUser);

                    var Versiculo = lista.IndexOf(lista.First(l => l.Id == identifica)) + 1;

                    <div class="conteudo" onclick="cancelar()">
                       
                        
                            
                        <div class="content" style="width:100%; height:auto;" >
                            @markup
                        </div>
                        
                        <div class="caps" style="background-color:yellow;">  
                        <center>                            
                                Versiculo @Versiculo                            
                        </center>
                        </div>

                    </div>
                    <br />
                    <hr />
                    <br />
                }
            </div>
            }
        }
       
        </div>
    }
}

@code {

    Filtro filtro = new Filtro();
    List<Pagina> Model = new List<Pagina>();
    List<Filtro>? filtros { get; set; }
    protected ClaimsPrincipal user;


    [Parameter] public string? compartilhante { get; set; }

    [Parameter] public int auto { get; set; }
    [Parameter] public int pagina { get; set; }
    [Parameter] public int indiceFiltro { get; set; }
    [Parameter] public int Capitulo { get; set; }
   
    [Parameter] public int? redirecionar { get; set; }
    [Parameter] public string? ordenar { get; set; }
    [Parameter] public int interval { get; set; }
    [Parameter] public int? tamanho { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnParametersSetAsync()
    {
        filtro = filtros[indiceFiltro - 1];
        VerificarFiltro(filtro);

        Model = await RetornarLista(pagina, ordenar!, (int)tamanho!);
        try
        {
            await js!.InvokeAsync<object>("ConfigurarPaginacao", "1");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        StartTimer();

    }

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        filtros = await Context.Filtro!
        .Include(f => f.Pagina)!
        .ThenInclude(f => f.Pagina)
        .ThenInclude(f => f.Produto)
        .Include(f => f.Story)
         .Where(f => f.Story.PaginaPadraoLink == Capitulo)
     .OrderBy(f => f.StoryId)
     .OrderBy(f => f.Id)
     .ToListAsync();


        filtro = filtros[indiceFiltro];
        VerificarFiltro(filtro);

        var authState = await AuthenticationStateProvider
                .GetAuthenticationStateAsync();
        user = authState.User;

    }

    private void VerificarFiltro(Filtro fil)
    {
        Model = fil.Pagina!.Select(f => f.Pagina).ToList()!;
    }

    private async Task<List<Pagina>> RetornarLista(int numeroPagina, string ordem, int tamanhoPagina)
    {
        List<Pagina>? applicationDbContext = null;

        @if (Model.FirstOrDefault(p => p.Produto != null) != null)
        {
            if (ordem == "preco")
                applicationDbContext = Model!
                   .OrderBy(p => p.Produto!.Preco)
                   .Skip((numeroPagina - 1) * tamanhoPagina)
                   .Take(tamanhoPagina).ToList();
            else if(ordem == "descricao")
                applicationDbContext = Model!
                   .OrderBy(p => p.Produto!.Descricao)
                   .Skip((numeroPagina - 1) * tamanhoPagina)
                   .Take(tamanhoPagina).ToList();
            else if (ordem == "nome")
                applicationDbContext = Model!
                   .OrderBy(p => p.Produto!.Nome)
                   .Skip((numeroPagina - 1) * tamanhoPagina)
                   .Take(tamanhoPagina).ToList();
            else 
                applicationDbContext = Model!
                   .OrderBy(p => p.Id)
                   .Skip((numeroPagina - 1) * tamanhoPagina)
                   .Take(tamanhoPagina).ToList();            
        }
        else
        {
            applicationDbContext = Model!
                   .OrderBy(p => p.Id)
                   .Skip((numeroPagina - 1) * tamanhoPagina)
                   .Take(tamanhoPagina).ToList();
        }

        foreach(var item in Model)
        {
            if (item.ContentUser != null && item.ContentUser.Contains("iframe"))
            {
                var id = buscarId(item);
                var url = await GetYouTubeVideo(id);
                item.ContentUser = $"<center><img src='{url[0]}' class='ContentIframe' /><p>{url[1]}</p></center>";

            }
            else if (item.Content != null && item.Content.Contains("iframe"))
            {
                var id = buscarId(item);
                var url = await GetYouTubeVideo(id);
                item.Content = $"<center><img src='{url[0]}' class='ContentIframe' /><p>{url[1]}</p></center>";

            }
        }

        return applicationDbContext;
    }

    private void StartTimer()
    {
        if (auto == 1)
        {
            double t = interval * 1000;
            Timer!.SetTimerListaFiltro(t);
            Timer._timerListaFiltro!.Elapsed += _timer_Elapsed;
            Console.WriteLine("Timer Started.");
        }

    }

    private void _timer_Elapsed(object? sender, System.Timers.ElapsedEventArgs e)
    {
        if (auto == 1 && Model!.ToList().Count == tamanho)
            navigation.NavigateTo($"/lista-filtro/{pagina + 1}/{ordenar}/{compartilhante}/1/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}");
        else if (auto == 1)
            navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/1/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}");
        else
            navigation.NavigateTo($"/lista-filtro/{pagina}/{ordenar}/{compartilhante}/0/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}");

        Console.WriteLine("Timer Elapsed.");
        Timer!._timerListaFiltro!.Elapsed -= _timer_Elapsed;
    }

   


    private void desabilitar()
    {
        auto = 0;
        navigation.NavigateTo($"/lista-filtro/1/{ordenar}/{compartilhante}/{auto}/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}");
    }

    private void abilitar()
    {
        auto = 1;
        navigation.NavigateTo($"/lista-filtro/{pagina}/{ordenar}/{compartilhante}/{auto}/{interval}/{tamanho}/{Capitulo}/{indiceFiltro}");
    }

    private void acessarPasta()
    {
        auto = 0;
        navigation.NavigateTo($"/filtro/{Capitulo}/pasta-{indiceFiltro}/0/0/0/dominio/comp/comp2");
    }

    private async void clicou()
    {
        await js!.InvokeAsync<object>("Clicou", "1");
    }

    private async Task<string[]> GetYouTubeVideo(string id_video)
    {
        int calculo = 0;
        var youtubeService = new YouTubeService(new BaseClientService.Initializer()
            {
                ApiKey = "",
                ApplicationName = this.GetType().ToString()
            });
        var searchListRequest = youtubeService.Videos.List("snippet,contentDetails,statistics,status");
        searchListRequest.Id = id_video;
        var search = await searchListRequest.ExecuteAsync();
        var p = search.Items[0].Snippet.Thumbnails.Medium;
        var p2 = search.Items[0].Snippet.Title;
        string[] pesquisa = new string[2];
        pesquisa[0] = p.Url;
        pesquisa[1] = p2;


        return pesquisa;
    }

    private  string buscarId(Pagina p)
    {
            var id_video = "";
        if (p != null && p.Content != null && p.Content.Contains("iframe")  ||
                        p != null && p.ContentUser != null && p.ContentUser.Contains("iframe") )
        {
            var conteudoHtml = "";
            if (p.Content != null) conteudoHtml = p.Content;
            else conteudoHtml = p.ContentUser;
            var arr = conteudoHtml!.Split("/");
            for (var index = 0; index < arr.Length; index++)
            {
                if (arr[index] == "embed" && conteudoHtml.Contains("?autoplay="))
                {
                    var text = arr[index + 1];
                    var arr2 = text.Split("?");
                    id_video = arr2[0];
                    break;
                }
                else if (arr[index] == "embed")
                {
                    var text = arr[index + 1];
                    var arr2 = text.Split('"');
                    id_video = arr2[0];
                    break;
                }
            }
          
        }
            return id_video;
    }
}
