@page "/livro-compartilhado"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject UserManager<IdentityUser> userManager
@inject IJSRuntime? js
<h3>Livro compartilhado</h3>

<div class="container">
    @if(livro == null)
    {
        
    }
    else
    {
        <h3>@livro.url - Capitulo @livro.capitulo</h3>
        <br />
        <label>preferências separando por ","</label>
        <input type="text" placeholder="informe preferências" onchange="@((ChangeEventArgs e) => separandoVersos(e))" />
        <br />

        
        <label>Nº da pasta</label>
        <input type="text" @bind="pasta" placeholder="Nº da pasta" />

        if(nums != null)
        {
            <a href="#" onclick="@(() => navigation.ToAbsoluteUri($"{livro.url}/filtro/{livro.capitulo}/pasta-{pasta}/0/0/dominio/{ad}/{ad}/{nums[0]}/{nums[1]}/{nums[2]}/{nums[3]}/{nums[4]}/{nums[5]}/{nums[6]}/{nums[7]}/{nums[8]}/{nums[9]}"))"
               class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </a>

        }
        else
        {
            <a href="#" onclick="@(() => navigation.ToAbsoluteUri($"{livro.url}/filtro/{livro.capitulo}/pasta-{pasta}/0/0/dominio/{ad}/{ad}/0/0/0/0/0/0/0/0/0/0"))"
               class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </a>
        }

       
        <img src="/livro.jpg" width="700" />
    }
    
    
</div>

@code {
    string versos = "";
    int pasta = 1;
    int[] nums = null;
    Livro livro = new Livro { capitulo = 1, };
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;
    private string ad;

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        ad = repositoryPagina.buscarAdmin();
        livro = await Context.Livro!.FirstOrDefaultAsync(l => l.user == repositoryPagina.buscarAdmin());
        if (livro == null)
            navigation.NavigateTo($"/mensagem/Voce ainda não esta compartilhando nenhum livro");

    }

    private async void separandoVersos(ChangeEventArgs e)
    {
        var vers = e.Value!.ToString();

        var arr = vers.Replace(" ", "").Split(',');
        nums = new int[arr.Length];

        if (arr[arr.Length - 1] == "")
        {
            var l = arr.ToList();
            l.Remove(l.Last());
            arr = l.ToArray();
        }
        

        if(arr.Length > 10)
        {
            nums = null;
            await js!.InvokeAsync<object>("DarAlert", "Informe apenas 10 numeros!!!");
        }
        else
        {
                for (var i = 0; i < nums.Length; i++)
                {
                    nums[i] = 0;
                }

                for(var i = 0; i < arr.Length; i++)
                {
                    try
                    {
                        var num = int.Parse(arr[i]);
                        nums[i] = num;
                    }
                    catch(Exception ex)
                    {
                        nums = null;
                         await js!.InvokeAsync<object>("DarAlert", "Informe apenas numeros!!!");
                        break;
                    }
                }
            
        }

    }

}
