@page "/pastas/{capitulo:int}/{verso:int}/{dominio}/{compartilhante}/{compartilhante2}"
@inject RepositoryPagina? repositoryPagina 
@inject NavigationManager navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> userManager
@layout MeuLayout
<h3>Pastas do versiculo @verso</h3>

<p>@authMessage</p>

<BackPage></BackPage>
@{
    getPastas();

    for (var i = 0; i < pastas.Length; i++)
        if (pastas[i] != 0)
        {
            var filtros = Context.Pagina!.Include(p => p.Story).ThenInclude(p => p.Filtro)
            .Where(p => p.Story!.PaginaPadraoLink == capitulo).First().Story!.Filtro!;
            var fil = filtros.OrderBy(f => f.Id).Skip(pastas[i] - 1).First();
            var condicao = saved.FirstOrDefault(f => f.FiltroId == fil.Id);
            <p>
            pasta @pastas[i] - @namePastas[i]
                <a href="/renderizar/@capitulo/@pastas[i]/0/11/1/1/0/0/0/@dominio/@compartilhante/@compartilhante2" class="btn btn-primary">Acessar</a>
                <a href="#" onclick="@(() => GetClaimsPrincipalData(fil))">
                    @if (condicao != null)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z" />
                        </svg>
                        
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    }
                    
            </a>
            </p>
        }
}


@code {
    private string? authMessage;
    protected int[] pastas = new int[9];
    protected string[] namePastas = new string[9];
    [Parameter] public int capitulo { get; set; }
    [Parameter] public int verso { get; set; }
    [Parameter] public string? dominio { get; set; }
    [Parameter] public string? compartilhante { get; set; }
    [Parameter] public string? compartilhante2 { get; set; }
    public Pagina Model { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    List<savedFolder> saved = new List<savedFolder>();
    List<Filtro> filtros = new List<Filtro>();

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        var lst = Context.Pagina!.Include(p => p.Story).Include(p => p.Filtro)
        .Where(p => p.Story!.PaginaPadraoLink == capitulo).OrderBy(p => p.Id).ToList();
        Model = lst.Skip((int)verso - 1).FirstOrDefault()!;
        saved = await Context.savedFolder.ToListAsync();

        filtros = Context.Pagina!
        .Include(p => p.Filtro)!
        .ThenInclude(p => p.Filtro)
        .Include(p => p.Story)
        .ThenInclude(p => p.Filtro)
                        .Where(p => p.Story!.PaginaPadraoLink == capitulo).First().Story!.Filtro!;
    }

    protected void getPastas()
    {
        for (var i = 0; i < pastas.Length; i++)
            pastas[i] = 0;


        if (Model.Filtro != null)
        {
            foreach (var item in Model.Filtro)
                if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[0] = fil.Nome!;
                    pastas[0] = filtros.IndexOf(fil) + 1;
                }
                else
                   if (item.Filtro is Grupo)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[1] = fil.Nome!;
                    pastas[1] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubGrupo)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[2] = fil.Nome!;
                    pastas[2] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubSubGrupo)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[3] = fil.Nome!;
                    pastas[3] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[4] = fil.Nome!;
                    pastas[4] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[5] = fil.Nome!;
                    pastas[5] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[6] = fil.Nome!;
                    pastas[6] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[7] = fil.Nome!;
                    pastas[7] = filtros.IndexOf(fil) + 1;
                }
                else
                    if (item.Filtro is SubStory)
                {
                    var fil = filtros.First(f => f.Id == item.Filtro.Id);
                    namePastas[8] = fil.Nome!;
                    pastas[8] = filtros.IndexOf(fil) + 1;
                }
        }
       
    }

    private async Task GetClaimsPrincipalData(Filtro fil)
    {
        var authState = await AuthenticationStateProvider
            .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            authMessage = $"{user.Identity.Name} esta autenticado.";
            var usuario = await userManager.GetUserAsync(user);
            var save = Context.savedFolder
            .FirstOrDefaultAsync(s => s.FiltroId == fil.Id && s.user == usuario.UserName);
            if (save == null)
            {
                var s = new savedFolder
                    {
                        FiltroId = fil.Id,
                        user = usuario.UserName
                    };
                Context.Add(s);
                await Context.SaveChangesAsync();
                saved.Add(s);
            }
            else
            {
                Context.Remove(Context.savedFolder.First(s => s.FiltroId == fil.Id &&
                    s.user == usuario.UserName));
                  await  Context.SaveChangesAsync();
                saved.Remove(saved.First(s => s.FiltroId == fil.Id &&
                    s.user == usuario.UserName));
            }
        }
        else
        {
            authMessage = "não esta autenticado.";
        }
    }
}
