@page "/renderizar"
@page "/filtro/{capitulo:int}/{filtrar}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}/{redirecionar?}"
@page "/renderizar/{capitulo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{outroHorizonte:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}"
@page "/substory/{capitulo:int}/{substory:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/grupo/{capitulo:int}/{substory:int}/{grupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/subgrupo/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/subsubgrupo/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/camadaseis/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/camadasete/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/camadaoito/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/camadanove/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{camadanove:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@page "/camadadez/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{camadanove:int}/{camadadez:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{indiceLivro:int}/{retroceder:int}/{dominio}/{compartilhante}/{question:int}"
@inherits RenderizarBase
@layout MeuLayout


@if(Mensagem != null || stories.Count == 0)
{
    if (stories.Count == 0)
    {
        <PageTitle>Carregando...</PageTitle>
        <center>
            <h1>
                Carregando uma história...
            </h1>
            <img src="/Loading.gif" />
        </center>
    }
    else
    {
        <PageTitle>@Mensagem</PageTitle>
        if (Mensagem.Contains("digite um numero menor"))
        {
            <h1>Pagina não encontrada</h1>
        }
        <h1>@Mensagem</h1>
        <br />
        <a href="#" onclick="@Casinha" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
            </svg>
        
            </a>
        
    }

}
else
{
    <div id="renderizar" >


        <nav class="navbar navbar-expand-lg navbar-light" style="position:fixed; background-color:transparent;">
    
            <div id="pesquisas">
            
            @{
                

                if (capitulo != 0)
                {
                    if(substory == null)
                    {
                        <PageTitle>@nameStory</PageTitle>
                            <div class="capHeader"> 
                        <header>Story: @nameStory</header>
                            </div>
                        <span class="capitulos">
                                <a data-first onclick="@(() => navigation!.NavigateTo($"/Renderizar/0/{capitulo}/0/{timeproduto}/{lista}/0/{preferencia}/{indiceLivro}/{retroceder}/{dominio}/{compartilhante}"))" class="btn btn-primary">
                                Capítulo @capitulo
                            </a>
                            </span>
                        }
                        else
                        {
                            if(indiceLivro == 0)
                            {
                                <PageTitle>@nameGroup</PageTitle>
                            }
                            else
                            {
                                <PageTitle> Livro @indiceLivro - @nameGroup</PageTitle>
                                
                            }
                            <div class="capHeader">
                            <p class="capitulos"> <header>@nameGroup</header></p>
                            </div>
                           
                            <div class="capSubstory">
                                <span class="capitulos">
                                  Capítulo @capitulo                            
                                </span>
                                <span class="versos">
                                        <a onclick="@(() => acessarVerso())" class="btn btn-primary">
                                        Versiculo @vers
                                    </a>
                                </span>
                            </div>
                    }
                    
                }
                    else
                    {
                        <PageTitle>Capítulos</PageTitle>
                    }

                    <div>

                        @if (capitulo == 0)
                        {
                        <span class="ms-3">Cap.</span>
                        }
                        else
                        {
                            if (outroHorizonte == 0 && substory == null)
                            {
                            <span class="ms-3">Vers.</span>
                            }
                            else if (outroHorizonte == 1)
                            {
                            <span class="ms-3">Pasta</span>
                            }
                        }

                        @if (substory == null)
                        {
                            <input data-2 type="number" placeholder="digita nome" @onkeypress="@(e=> TeclaPressionada(e))" @ref="firstInput"
                                   id="NumeroPaginaAcesso3" min="1" value="@indice" onchange="@((ChangeEventArgs e) => opcional = e.Value!.ToString()!)" />
                               <center>
                        <a id="acessoPaginaComInput2" onclick="@Pesquisar"
                           class="btn btn-primary ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                               </center>
                        }
                        else
                        {
                            <input type="text" placeholder="verso ou user" @onkeypress="@(e=> TeclaPressionada(e))" @ref="firstInput"
                                   id="NumeroPaginaAcesso3" onchange="@((ChangeEventArgs e) => alterarQuery(e))" />
                               <center>
                        <a id="acessoPaginaComInput2" onclick="@Pesquisar"
                           class="btn btn-primary ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </a>
                               </center>
                        }
                    
                    </div>

                    
                }   
                

            </div>    


        <div class="navegacao">

            <a href="#" onclick="@Casinha" class="btn btn-primary" data-3>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                </svg>
            </a>

            @if (nameStory != "Padrao" && outroHorizonte == 0)
            {
                    if(substory == null)
                    {
                        <a data-4 href="/comentario/@capitulo/@indice" class="btn btn-primary" onclick="@(() => desligarAuto())">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a data-4 href="/comentario/@capitulo/@vers" class="btn btn-primary" onclick="@(() => desligarAuto())">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                            </svg>
                        </a>
                        
                    }
                }


                @if (outroHorizonte == 0 && nameStory != "Padrao" && ultimaPasta != 0)
            {
                    <div>
                        @if (Model!.Filtro != null && Model.Filtro.FirstOrDefault(f => f.QuantidadePorType > 1) != null && !Model.Story!.Comentario)
                        {
                            if (substory != null)
                            {
                                <a data-5 href="/pastas/@capitulo/@vers/@dominio/@compartilhante" class="btn btn-dark" onclick="@(() => desligarAuto())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a data-5 href="/pastas/@capitulo/@indice/@dominio/@compartilhante" class="btn btn-dark" onclick="@(() => desligarAuto())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                                    </svg>
                                </a>
                            }
                        }
                        else if (!Model.Story!.Comentario)
                        {
                            if(substory != null)
                            {
                                <a data-5 href="/pastas/@capitulo/@vers/@dominio/@compartilhante" class="btn btn-primary" onclick="@(() => desligarAuto())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <a data-5 href="/pastas/@capitulo/@indice/@dominio/@compartilhante" class="btn btn-primary" onclick="@(() => desligarAuto())">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                                    </svg>
                                </a>
                            }

                        }
                        else if (Model.Story!.Comentario)
                        {
                            <a class="btn btn-dark" onclick="@(() => navigation!.NavigateTo($"/classificacaocomentario"))">
                                classificações
                            </a>
                            
                        }

                        @if (indice_Filtro != ultimaPasta)
                       
                        {
                            <a data-6 id="ultimapasta" onclick="@(() => redirecionarMarcar())">
                                marcar?
                            </a>
                        }


                </div>
            }
                

                @if (substory != null && indice_Filtro == ultimaPasta)
            {
                <div>

                    <a data-first class="btn btn-dark" onclick="@(() => marcar((int)vers!))">
                    Marcar
                </a>
                
                <a  class="btn btn-dark" onclick="@(() => desmarcar())">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                </a>
                </div>
            }

                    @if (capitulo != 0 && outroHorizonte == 0)
                    {
                    <div>


                        @if (!liked)
                        {
                            if (indice_Filtro == ultimaPasta)
                            {
                                <a  onclick="@DarUmLike">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>

                            }

                        }
                        else
                        {
                            if (indice_Filtro == ultimaPasta)
                            {
                                <a  onclick="@Unlike">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                    </svg>
                                </a>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>

                            }
                        }
                        @quantLiked
                    </div>
                    }

               
           
            </div>

    

     </nav>
        <br/>
        <br/>
        <br/>
        @if(substory == null)
        {
            <button class="btn btn-primary" type="button" @onclick="StartTour">Start Tour</button>
        }
        else
        {
            <button class="btn btn-primary" type="button" @onclick="StartTour2">Start Tour</button>

        }


        <GuidedTour TourId="FormGuidedTour1" OverlayEnabled="true">
            <GuidedTourStep Title="Acessar story" StepName="firstStep" TourStepSequence="1"
                            ElementSelector="[data-first]">
                <span>Acesse a story e altere o capitulo se for necessário</span>
            </GuidedTourStep>
            <GuidedTourStep Title="acessando versiculos" StepName="Step2" TourStepSequence="2"
                            ElementSelector="[data-2]">
                <span>Informe o versiculo e acesse qualquer pagina da story</span>
            </GuidedTourStep>
            <GuidedTourStep Title="Home" StepName="Step3" TourStepSequence="3"
                            ElementSelector="[data-3]">
                <span>Neste link você acessará a home ou a capa do livro </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Comentários" StepName="Step4" TourStepSequence="4"
                            ElementSelector="[data-4]">
                <span>
                    Clique neste link para visualizar comentarios deste versiculo ou fazer um comentário.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Pastas" StepName="Step5" TourStepSequence="5"
                            ElementSelector="[data-5]">
                <span>
                    Neste link você terá acesso a todas as pastas onde este versiculo se encontra.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Marcar?" StepName="Step6" TourStepSequence="6"
                            ElementSelector="[data-6]">
                <span>
                    Neste link você será redirecionado para ultima pasta onde vão estar todos os versiculos marcados,
                    perguntas, respostas, marcadores etc.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Automático" StepName="Step7" TourStepSequence="7"
                            ElementSelector="[data-7]">
                <span>
                    Marque esta opção se você quer que a as paginas sejam mostradas automaticamente.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Horizontes" StepName="Step8" TourStepSequence="8"
                            ElementSelector="[data-8]">
                <span>
                   Quando este ícone estiver azul quer dizer que você esta acessando o horizonte das pastas.
                    Quando este ícone estiver transparente quer dizer que você esta acessando o horizonte dos versículos.
                </span>
            </GuidedTourStep>
        </GuidedTour>


        <GuidedTour TourId="FormGuidedTour2" OverlayEnabled="true">
            <GuidedTourStep Title="Marcar" StepName="firstStep" TourStepSequence="1"
                            ElementSelector="[data-first]">
                <span>
                    Utilize este botão para marcar versiculos como respostas(para pergusntas)
                    ou apenas marcar versiculos(para marcadores).
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Exibir marcadores" StepName="Step2" TourStepSequence="2"
                            ElementSelector="[data-2]">
                <span>Quando marcado esta opção será exibido os marcadores se não será exibido as perguntas</span>
            </GuidedTourStep>
            <GuidedTourStep Title="Exemplos" StepName="Step3" TourStepSequence="3"
                            ElementSelector="[data-3]">
                <span>Marque esta opção para que versiculos sejam marcados como exemplos para perguntas. </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Criar Marcador" StepName="Step4" TourStepSequence="4"
                            ElementSelector="[data-4]">
                <span>
                    Clique neste link para criar um marcador
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Fazer pergunta" StepName="Step5" TourStepSequence="5"
                            ElementSelector="[data-5]">
                <span>
                    Clique neste link para fazer pergunta sobre esta pasta.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Numero" StepName="Step6" TourStepSequence="6"
                            ElementSelector="[data-6]">
                <span>
                    Informe o numero da pergunta ou o numero do marcador.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Unico versiculo" StepName="Step7" TourStepSequence="7"
                            ElementSelector="[data-7]">
                <span>
                    Quando aparecer apenas um versiculo significa que você esta dentro da pasta.
                </span>
            </GuidedTourStep>
            <GuidedTourStep Title="Unico versiculo" StepName="Step8" TourStepSequence="8"
                            ElementSelector="[data-8]">
                <span>
                    Este é o numero da pasta.
                </span>
            </GuidedTourStep>
        </GuidedTour>


        @if (usuarios!.Count > 0)
        {

            <div class="users">
                
                    @foreach (var item in usuarios!)
                    {
                       <a  onclick="@(() => acessarPreferenciasUsuario(item.user))" >
                           Usuario @item.user - acessar preferências
                        <div class="circulop2">
                            <div class="circulo2p2">
                                @if (item.UserModel.Image != null)
                                {
                                    <img src="ImgUser/usuario-@(item.user)-@(item.UserModel.Image)" class="ImgUser">

                                }
                                else
                                {
                                    <img src="ImgUser/padrao.jpg" class="ImgUser">
                                }
                            </div>
                        </div>
                       </a>
                    }
            </div>
        }

     <div id="render">

            @if(outroHorizonte == 0)
            {
                 <div class="marc">


            
            @if (indice_Filtro == ultimaPasta)
            {
                <div>

                    <p class="paragrafo2">

                            <input data-2 type="checkbox" @bind="marcacao" onclick="@marcarResponder" />
                        <label>  Exibir marcadores </label>
                    
                </p>
                </div>

                    @if (!marcacao)
                    {
                        <div>
                            <input data-3 type="checkbox" @bind-="@exemplo" onclick="@marcarResponder" /> <span>marcar como exemplo (para perguntas)</span>

                        </div>

                    }

                <div>

                <a data-4 href="/marcador/@capitulo/@indice_Filtro" class="btn-danger">Criar marcador</a>
                <a data-5 href="/perguntar/@capitulo/@indice_Filtro" class="btn-dark">Fazer pergunta?</a>
                </div>

                <div>

                <p class="paragrafo2">
                    @if (marcacao)
                    {
                        <label>Marcador:</label>
                    }
                    else
                    {
                        <label>Pergunta:</label>
                    }
                    <input data-6 type="number" min="1" value="1" onchange="@((ChangeEventArgs e) =>alterarQuestion(e))" />
                </p>
                @if (pergunta != null && indice_Filtro == ultimaPasta && !marcacao)
                {
                    <p class="paragrafo2">
                        @pergunta.Questao
                    </p>
                }
                 else if (marcador != null && marcacao)
                {
                    <p class="paragrafo2">
                        @marcador.Nome
                    </p>
                }
                </div>
            }
         </div>
                
            }
           
            @if (!marcacao)
            {
                
                    @if(resposta != null && vers == resposta.resposta1 && substory != null)
                    {
                        <p id="pref">Minha 1º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta2 && substory != null)
                    {
                    <p id="pref">Minha 2º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta3 && substory != null)
                    {
                    <p id="pref">Minha 3º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta4 && substory != null)
                    {
                    <p id="pref">Minha 4º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta5 && substory != null)
                    {
                        <p id="pref">Minha 5º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta6 && substory != null)
                    {
                        <p id="pref">Minha 6º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta7 && substory != null)
                    {
                        <p id="pref">Minha 7º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta8 && substory != null)
                    {
                        <p id="pref">Minha 8º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta9 && substory != null)
                    {
                        <p id="pref">Minha 9º Resposta</p>
                    }
                    else if (resposta != null && vers == resposta.resposta10 && substory != null)
                    {
                        <p id="pref">Minha 10º Resposta</p>
                     }
            }
            else
            {
                @if (marcador != null && vers == marcador.verso1 && substory != null)
                {
                    <p id="pref">Minha 1º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso2 && substory != null)
                {
                    <p id="pref">Minha 2º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso3 && substory != null)
                {
                    <p id="pref">Minha 3º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso4 && substory != null)
                {
                    <p id="pref">Minha 4º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso5 && substory != null)
                {
                    <p id="pref">Minha 5º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso6 && substory != null)
                {
                    <p id="pref">Minha 6º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso7 && substory != null)
                {
                    <p id="pref">Minha 7º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso8 && substory != null)
                {
                    <p id="pref">Minha 8º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso9 && substory != null)
                {
                    <p id="pref">Minha 9º marcação</p>
                }
                else if (marcador != null && vers == marcador.verso10 && substory != null)
                {
                    <p id="pref">Minha 10º marcação</p>
                }
            }

            @{
                    
                if (substory != null)
                {

                    if (numeros != "" && resposta != null || numeros != "" && marcador != null)
                {
                    if (!marcacao)
                    {
                    <p>versiculos marcados como respostas de  <a href="/@resposta.user">@(resposta.user)</a>  </p>
                        
                    }
                    else{
                            <p> marcações de  <a href="/@marcador.user">@(marcador.user)</a>  </p>

                    }
                    <p>
                        @if (usuario != null && usuario.Permissao)
                            {
                                <a href="usuario.Dominio"> - (@(usuario.Dominio))</a>
                            }
                        : <input type="text" value="@numeros" readonly="readonly" style="width: 40%;" />
                     </p>
                    
                }
                     
                }
            }

    @if(outroHorizonte == 0)
    {
            @if (Model.Story!.Comentario)
            {
                <br />  <br />
                <p>@Model.Data.ToString("dd/MM/yyyy")</p>

                <br />
            }

        <!-- ProdutoContent -->
        if (nameStory == "Padrao")
        {
            <center>
                <h1>
                    <a  onclick="@(() => navigation!.NavigateTo($"/renderizar/{indice}/1/1/11/1/{outroHorizonte}/{preferencia}/{indiceLivro}/0/dominio/comp"))">
                        Story @stories!.Skip(1).ToList()[indice - 1].Nome
                         <div class="circulo">
                  <div class="circulo2">
                                @if (stories!.Skip(1).ToList()[indice - 1].Image != null)
                                {
                                    <img src="ImgStory/cap.@(stories!.Skip(1).ToList()[indice - 1].PaginaPadraoLink).@(stories!.Skip(1).ToList()[indice - 1].Image)" class="ImgStory">
                                    
                                }
                  </div>
                </div>
                    </a>
                </h1>

            </center>                          
        }
        else
        if (indice == 1 && substory == null && nameStory != "Padrao" && !Model.Story.Comentario)
        {
            <p> Seja bem vindo a story @nameStory </p>   
        }
        else
        if (Model.Produto != null)
        {
            <div class="row container produto">
                <div class="col-md-6 info">
                    <p> Categoria: @Model.Produto.Nome </p>
                    <p> Descrição: @Model.Produto.Descricao </p>
                    <p> Preço: @Model.Produto.Preco </p>
                    <p> Estoque: @Model.Produto.QuantEstoque </p>
                    <div class="col-md-12 imagens">
                        @{
                            @foreach (var item in Model.Produto.Imagem!.ToList())
                            {
                                if (Model.Produto.Imagem!.ToList().IndexOf(item) != 0)
                                {
                                    <img src="@item.ArquivoImagem" class="ImagemProduto" />
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6 imagem">
                    <img src="@Model.Produto.Imagem!.First().ArquivoImagem" class="ImagemProduto" />
                </div>

            </div>

        }
        else if (Model.ImagemContent != null)
        {
            <center>
                <img class="ImagemContent" src="@Model.ImagemContent">

            </center>
        }
        else if (html!.Contains("iframe") && Model.Content != null)
        {

            <div id="descricao"></div>
            <center>
                <div id="player"></div>

            </center>
        }
        else
        {
            @markup
        }

        if (Model.Produto != null && repositoryPagina!.buscarEcommerce() == "yes")
        {
            <a href="/carrinho/@Model.Produto.Id/@capitulo/@indice/@dominio/@compartilhante">
                Adicionar ao carrinho
            </a>
        }

        <!-- ProdutoContent -->
        



        if (Model.Story.Comentario
        && Model.Comentario != 0)
        {
            <p>Comentário do Capitulo @CapituloComentario Verso @VersoComentario </p>
        }
        else if (Model.Story.Comentario)
        {
            <p>Apenas um comentário </p>

        }
    }
    else if(Model2 != null)
    {
        var cam = buscarCamada(Model2);
        <center>
            <a  onclick="@acessarPasta">
                <h3> Pasta @Model2!.Nome </h3>
            </a>

          <p>
                Camada nº @cam
          </p>  
            @{
                
                var p = buscarPastaFiltrada(cam);

                if (@cam != 1 && p != null)
            {
                    <p>
                        é um filtro da
                            <a onclick="@(() => navigation.NavigateTo($"/renderizar/{capitulo}/{p}/0/11/1/1/{preferencia}/{indiceLivro}/{retroceder}/{dominio}/{compartilhante}"))">
                            pasta  @p
                        </a>
                    </p>
                }
                else if(p == null)
                {
                    <p>Esta pasta não possui nenhum versículo</p>
                }

            }
            
        </center>       
    }

       

   
</div>
      
    <a class="carousel-control-prev btn btn-dark" onclick="@buscarAnterior">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </a>
        
     <a class="carousel-control-next btn btn-dark" onclick="@buscarProximo">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </a>

    <div id="PaginacaoConteudo" class="Paginacao">

        <center>
            <div class="Informativo">
                <h3>
                    @if (auto == 1)
                    {
                        <input data-7 type="checkbox" id="automatico" name="automatico" checked="checked" onclick="@desabilitarAuto" />
                    }
                    else
                    {
                            <input data-7 type="checkbox" id="automatico" name="automatico" onclick="@habilitarAuto" />
                    }

                    Automático
                </h3>

                    @if (substory == null && outroHorizonte == 0 && condicaoFiltro)
                {
                    <a data-8 onclick="@acessarHorizontePastas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                        </svg>
                    </a>
                }
                    else if (substory == null && outroHorizonte == 1 && condicaoFiltro)
                {
                        <a data-8 onclick="@acessarHorizonteVersos">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-fill" viewBox="0 0 16 16">
                            <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                        </svg>
                    </a>
                }


                @{
                    if (capitulo == 0)
                    {
                        <span class="TextoInformativo">Capitulo @indice de @quantidadeLista</span>
                    }
                        else 
                    {
                        if(outroHorizonte == 1 && capitulo != 0 )
                        {
                            <span class="TextoInformativo">Pasta @indice de @quantidadeLista</span>
                            
                        }
                            else if (substory == null)
                        {
                            <span class="TextoInformativo">Versiculo @indice de @quantidadeLista</span>
                        }

                    }
                        if (substory != null && indice_Filtro == ultimaPasta)
                        {
                            <a data-8 href="#" class="btn btn-dark" onclick="@listarPasta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ol" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                                    <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z" />
                                </svg>
                                    @indice_Filtro

                            </a>
                            <a class="btn btn-dark" onclick="@(() => navigation!.NavigateTo($"/renderizar/{capitulo}/{indice_Filtro}/0/11/1/1/0/0/0/{dominio}/{compartilhante}"))">
                            
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                    <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                                </svg>
                            </a>
                        }
                        if(outroHorizonte == 1)
                        {
                            <a href="/listar-pasta/@capitulo/@dominio/@compartilhante" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ol" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
                                    <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z" />
                                </svg>
                            </a>
                        }
                    }
            </div>


            <div class="DivPagina" style="background-color:white;" >            
                @{
                    

                    if(substory == null)
                    {
                        for (var indice = 1; indice <= quantidadeLista; indice++)
                        {
                            <div class="DivPag" id="DivPagina@(indice)">
                                <div>
                                <span class="indices"><b>@indice</b> </span>
                                </div>
                                <div class="barra">
                                -
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        for (var i = 1; i <= quantidadeLista; i++)
                        {
                            <div class="DivPag" id="DivPagina@(indice)">
                                 <div>
                                    @if(i == indice)
                                    {
                                        <span data-7 class="indices"> @vers</span>
                                    }
                                    else
                                    {
                                            <span class="indices"> </span>
                                    }
                                 </div>
                                <div class="barra">
                                -
                                </div>
                            </div>
                        }
                    }

                }
            </div>           

        </center>

        <div class="progressbar">
            <div></div>
        </div>

    </div>
   
    </div>
}
