@page "/renderizar"
@page "/filtro/{capitulo:int}/{filtrar}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}/{redirecionar?}"
@page "/renderizar/{capitulo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{compartilhante}/{desconto:int}"
@page "/substory/{capitulo:int}/{substory:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/grupo/{capitulo:int}/{substory:int}/{grupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/subgrupo/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/subsubgrupo/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/camadaseis/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/camadasete/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/camadaoito/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/camadanove/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{camadanove:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@page "/camadadez/{capitulo:int}/{substory:int}/{grupo:int}/{subgrupo:int}/{subsubgrupo:int}/{camadaseis:int}/{camadasete:int}/{camadaoito:int}/{camadanove:int}/{camadadez:int}/{indice:int}/{auto:int}/{timeproduto:int}/{lista:int}/{preferencia:int}/{compartilhante}/{desconto:int}/{p1:int}/{p2:int}/{p3:int}/{p4:int}/{p5:int}/{p6:int}/{p7:int}/{p8:int}/{p9:int}/{p10:int}"
@inherits RenderizarBase
@layout MeuLayout


@if(Mensagem != null)
{
    <PageTitle>@Mensagem</PageTitle>
    if (Mensagem.Contains("digite um numero menor"))
    {
        <h1>Pagina não encontrada</h1>
    }
    <h1>@Mensagem</h1>
    <br />
    <a href="#" onclick="@Casinha" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
        </svg>
        
        </a>
}
else
{

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <div>
            
            @{

                if (Model!.Story!.PaginaPadraoLink != 0)
                {
                    if(substory == null)
                    {
                        <PageTitle>@Model!.Story!.Nome</PageTitle>
                        <header>Story: @Model.Story.Nome</header>
                        <span class="capitulos">
                            <a href="#" onclick="@(() => navigation!.NavigateTo($"/Renderizar/0/{Model.Story.PaginaPadraoLink}/1/{timeproduto}/{lista}/{compartilhante}/{desconto}"))" class="btn btn-primary">
                                Capítulo @Model.Story.PaginaPadraoLink
                            </a>
                        </span>
                    }
                    else
                    {
                        <PageTitle>@nameGroup</PageTitle>
                        <header>@nameGroup</header>
                        <span class="capitulos">
                          Capítulo @Model.Story.PaginaPadraoLink                            
                        </span>
                        <span class="versos">
                            <a href="#" onclick="@(() => navigation!.NavigateTo($"/Renderizar/0/{Model.Story.PaginaPadraoLink}/1/{timeproduto}/{lista}/{compartilhante}/{desconto}"))" class="btn btn-primary">
                                Versiculo @indice
                            </a>
                        </span>
                    }
                    
                }
                else
                {
                    <PageTitle>Capítulos</PageTitle>
                }
            }            
        </div>        

        <div>
           
            @{
                if (substory == null)
                {
                    if (Model.Story.PaginaPadraoLink == 0)
                    {
                        <span class="ms-3">Cap.</span>
                    }
                    else
                    {
                        <span class="ms-3">Vers.</span>
                    }

                        <input type="number" placeholder="digita o nome" 
                               id="NumeroPaginaAcesso2" min="1" value="@indice" onchange="@((ChangeEventArgs e) => opcional = int.Parse(e.Value!.ToString()!))" />
                        <a id="acessoPaginaComInput2" href="#" onclick="@Pesquisar"
                           class="btn btn-primary ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                    </a>
                    
                }
                else
                {
                    <a href="#" class="btn btn-dark" onclick="@listarPasta">
                    Listar pasta @indice_Filtro
                    </a>
                    <a href="#" class="btn btn-dark" onclick="@Parear">Parear</a>
                }
            }

            
        </div>

        <div class="navegacao">

            <a href="#" onclick="@Casinha" class="btn btn-primary ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                </svg>
            </a>
            <br />
           
            <a class="btn btn-primary" onclick="@FazerComentario">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
                </svg>
            </a>

            <a href="#" class="btn btn-dark" onclick="@getPastas">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                            <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                        </svg>
                    </a>

            <a href="#" class="btn btn-danger" onclick="@configurar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                    <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                </svg>
                    </a>

            <a href="#" class="btn btn-danger" onclick="@marcarPreferencia">
                Marcar
            </a>
            
            
            <input type="text" @onkeypress="@(e=> TeclaPressionada(e))" @ref="firstInput" id="inputenter" />
        </div>


        <div id="user"></div>
    

     </nav>

     <div class="blocoLoader2" >
        <a href="#" onclick="@(() => navigation!.NavigateTo($"/Renderizar/{Model!.Story!.PaginaPadraoLink}/{anterior}/0/{timeproduto}/{lista}/{compartilhante}/{desconto}"))" class="esquerda">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
        </a>

        <a href="#" onclick="@(() => navigation!.NavigateTo($"/Renderizar/{Model!.Story!.PaginaPadraoLink}/{proximo}/0/{timeproduto}/{lista}/{compartilhante}/{desconto}"))" class="direita">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
     </div>
    
     
        if (Model.Story.Comentario)
        {
            <br />  <br />
            <p >@Model.Data.ToString("dd/MM/yyyy")</p>
             
              <br /> 
        }
       else if (Model.Produto == null && Model.Content != null && Model.Story.PaginaPadraoLink != 0)
        {
        <p >@Model.Data.ToString("dd/MM/yyyy")</p>

    }

                    if(indice == p1)
                    {
                        <p id="pref">Minha 1º Preferência</p>
                    }
                    else if(indice == p2)
                    {
                    <p id="pref">Minha 2º Preferência</p>
                    }
                    else if(indice == p3)
                    {
                    <p id="pref">Minha 3º Preferência</p>
                    }
                    else if(indice == p4)
                    {
                    <p id="pref">Minha 4º Preferência</p>
                    }
                    else if (indice == p5)
                    {
                        <p id="pref">Minha 5º Preferência</p>
                    }
                    else if (indice == p6)
                    {
                        <p id="pref">Minha 6º Preferência</p>
                    }
                    else if (indice == p7)
                    {
                        <p id="pref">Minha 7º Preferência</p>
                    }
                    else if (indice == p8)
                    {
                        <p id="pref">Minha 8º Preferência</p>
                    }
                    else if (indice == p9)
                    {
                        <p id="pref">Minha 9º Preferência</p>
                    }
                    else if (indice == p10)
                    {
                        <p id="pref">Minha 10º Preferência</p>
                    } 

    <!-- ProdutoContent -->

    if(indice == 1 && substory == null)
    {
        <p> Seja bem vindo a story @Model.Story.Nome </p>
        if(Model.Story.Filtro.Count > 0)
        {
            <p>
                <input type="number" min="1" @bind="indice_Filtro" />
                <a href="#"
                   onclick="@acessarPasta">
                    Acessar pasta
                </a>
            </p>
        }
        
    }
    else
        if(Model.Produto != null)
        {
            <div class="row container produto" >
                <div class="col-md-6 info">
                    <p> Categoria: @Model.Produto.Nome </p>
                            <p> Descrição: @Model.Produto.Descricao </p>
                            <p> Preço: @Model.Produto.Preco </p>
                            <p> Estoque: @Model.Produto.QuantEstoque </p>
                            <div class="col-md-12 imagens">
                                @{
                                    @foreach (var item in Model.Produto.Imagem!.ToList())
                                    {
                                        if (Model.Produto.Imagem!.ToList().IndexOf(item) != 0)
                                        {
                                            <img src="@item.ArquivoImagem" class="ImagemProduto"  />
                                        }
                                    }
                                }
                            </div>
                </div>
                <div class="col-md-6 imagem">
                <img src="@Model.Produto.Imagem!.First().ArquivoImagem" class="ImagemProduto"  />
                </div>
                
            </div>

        }
        else if(Model.ImagemContent != null)
        {  
            <center>
            <img class="ImagemContent" src="@Model.ImagemContent" >

        </center>         
        }
        else if(html!.Contains("iframe"))
        {           

            <div id="descricao" ></div>  
            <center>
            <div id="player" ></div>      

            </center> 
        }
        else
        {
                @markup
        }

    <!-- ProdutoContent -->
          
        if (Model.Story.Comentario
        && Model.SubStory != null)
        {
        for (var i = 1; i <= classificacoes!.Length; i++)
            {
            <p>@(i)º classificação: @classificacoes![i - 1] </p>

            }
        }
        else if (Model.Story.Comentario)
        {
            <p>Comentário não classificado </p>

        }
     
     
      
        if (Model.Story.Comentario
        && Model.Comentario != 0)
        {
            <p>Comentário do Capitulo @CapituloComentario Verso @VersoComentario </p>
        }
        else if (Model.Story.Comentario)
        {
            <p>Apenas um comentário </p>

        }
     

    <div id="PaginacaoConteudo" class="Paginacao">

        <center>
            <div class="Informativo">
                <h3>
                    @if (auto == 1)
                    {
                        <input type="checkbox" id="automatico" name="automatico" checked="checked" onclick="@desabilitarAuto" />
                    }
                    else
                    {
                        <input type="checkbox" id="automatico" name="automatico" onclick="@habilitarAuto" />
                    }

                    Automático
                </h3>
                @{
                    if (Model.Story.Nome == "Padrao")
                    {
                        <span class="TextoInformativo">Capitulo @indice de @quantidadePaginas</span>
                    }
                    else
                    {
                        <span class="TextoInformativo">Versiculo @indice de @quantidadePaginas</span>
                    }
                }
            </div>
        
            
                      <div class="DivPagina">            
                @{
                    if(substory == null)
                    {
                        for (var indice = 1; indice <= quantidadePaginas; indice++)
                        {
                            <div class="DivPag" id="DivPagina@(indice)">
                                <span class="indices"><b>@indice</b> </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="30" fill="currentColor" class="barra bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="DivPag" id="DivPagina@(indice)">
                            <span class="indices"> </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="30" fill="currentColor" class="barra bi bi-dash-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                            </svg>
                        </div>
                    }

                }
            </div>           

        </center>

        <div class="progressbar">
            <div></div>
        </div>

    </div>
}
