@page "/camada9/create"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject AuthenticationStateProvider? AuthenticationStateProvider
@inject UserManager<UserModel> userManager
@attribute [Authorize(Roles = "Admin, Manager, Assinante")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (!EscolherUsuario)
    {

        <p>
            <label>Livro:</label>
            <select @bind="exampleModel.LivroId">

                @foreach (var item in usuario.Assinatura)
                {
                    if (primeiroLoop)
                    {
                        <option value="@item.Livro!.Id" id="option@(item.Livro.Id)" selected>@item.Livro.Nome</option>
                        primeiroLoop = false;
                    }
                    else
                    {
                        <option value="@item.Livro!.Id" id="option@(item.Livro.Id)">@item.Livro.Nome</option>

                    }
                }
            </select>
        </p>

    }
    else
    {
        <p><input type="text" placeholder="Digite o Usuario" @bind="username" /></p>
        <p><a onclick="@escolher">Escolher</a></p>
        <p>
            <label>Livro:</label>
            <select @bind="exampleModel.LivroId">

                @foreach (var item in usuario.Assinatura)
                {
                    if (primeiroLoop)
                    {
                        <option value="@item.Livro!.Id" id="option@(item.Livro.Id)" selected>@item.Livro.Nome</option>
                        primeiroLoop = false;
                    }
                    else
                    {
                        <option value="@item.Livro!.Id" id="option@(item.Livro.Id)">@item.Livro.Nome</option>

                    }
                }
            </select>
        </p>
    }

    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="exampleModel.StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Story:</label>
        <select @bind="SubStoryId">
            @foreach (var item in SubStory!.Where(sub => sub.StoryId == StoryId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Grupo:</label>
        <select @bind="GrupoId">
            @foreach (var item in Grupo!.Where(sub => sub.SubStoryId == SubStoryId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Grupo:</label>
        <select @bind="SubGrupoId">
            @foreach (var item in SubGrupo!.Where(sub => sub.GrupoId == GrupoId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Sub-Grupo:</label>
        <select @bind="SubSubGrupoId">
            @foreach (var item in SubSubGrupo!.Where(sub => sub.SubGrupoId == SubGrupoId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Seis:</label>
        <select @bind="CamadaSeisId">
            @foreach (var item in CamadaSeis!.Where(sub => sub.SubSubGrupoId == SubSubGrupoId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Sete:</label>
        <select @bind="CamadaSeteId">
            @foreach (var item in CamadaSete!.Where(sub => sub.CamadaSeisId == CamadaSeisId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Oito:</label>
        <select @bind="exampleModel.CamadaOitoId">
            @foreach (var item in CamadaOito!.Where(sub => sub.CamadaSeteId == CamadaSeteId && sub.LivroId == exampleModel.LivroId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    
    <button type="submit">Adicionar</button>
</EditForm>

@code {
    
    private CamadaNove exampleModel = new();

    long StoryId = 0;
    long SubStoryId = 0;
    long GrupoId = 0;
    long SubGrupoId = 0;
    long SubSubGrupoId = 0;
    long CamadaSeisId = 0;
    long CamadaSeteId = 0;
    private List<Story> lista = new List<Story>();
    public List<SubStory> SubStory = new List<SubStory>();
    public List<Grupo> Grupo = new List<Grupo>();
    public List<SubGrupo> SubGrupo = new List<SubGrupo>();
    public List<SubSubGrupo> SubSubGrupo = new List<SubSubGrupo>();
    public List<CamadaSeis> CamadaSeis = new List<CamadaSeis>();
    public List<CamadaSete> CamadaSete = new List<CamadaSete>();
    public List<CamadaOito> CamadaOito = new List<CamadaOito>();
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    private UserModel usuario;
    private string? username;
    private bool EscolherUsuario;
    private bool primeiroLoop = true;

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        lista = await Context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        StoryId = lista.First().Id;
        SubStory = await Context.SubStory!.ToListAsync();
        Grupo = await Context.Grupo!.ToListAsync();
        SubGrupo = await Context.SubGrupo!.ToListAsync();
        SubSubGrupo = await Context.SubSubGrupo!.ToListAsync();
        CamadaSeis = await Context.CamadaSeis!.ToListAsync();
        CamadaSete = await Context.CamadaSete!.ToListAsync();
        CamadaOito = await Context.CamadaOito!.ToListAsync();

        var authState = await AuthenticationStateProvider
        .GetAuthenticationStateAsync();
        var user = authState.User;

        usuario = Context.Users
       .Include(u => u.Assinatura)
       .ThenInclude(u => u.Livro)
       .First(u => u.UserName == user.Identity!.Name);

        if (await userManager.IsInRoleAsync(usuario, "Admin") || await userManager.IsInRoleAsync(usuario, "Manager"))
            EscolherUsuario = true;
    }

    private async void HandleSubmit()
    {
        await Context.AddAsync(exampleModel);
        await Context.SaveChangesAsync();
        navigation.NavigateTo("crud/camadanove");
    }

    private void escolher()
    {
        usuario = Context.Users
       .Include(u => u.Assinatura)
       .ThenInclude(u => u.Livro)
       .First(u => u.UserName == username);
        primeiroLoop = true;
    }
}
