@page "/camadanove/edit/{Id:long}"
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Story:</label>
        <select @bind="SubStoryId">
            @foreach (var item in SubStory!.Where(sub => sub.StoryId == StoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Grupo:</label>
        <select @bind="GrupoId">
            @foreach (var item in Grupo!.Where(sub => sub.SubStoryId == SubStoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Grupo:</label>
        <select @bind="SubGrupoId">
            @foreach (var item in SubGrupo!.Where(sub => sub.GrupoId == GrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Sub-Grupo:</label>
        <select @bind="SubSubGrupoId">
            @foreach (var item in SubSubGrupo!.Where(sub => sub.SubGrupoId == SubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Seis:</label>
        <select @bind="CamadaSeisId">
            @foreach (var item in CamadaSeis!.Where(sub => sub.SubSubGrupoId == SubSubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Sete:</label>
        <select @bind="CamadaSeteId">
            @foreach (var item in CamadaSete!.Where(sub => sub.CamadaSeisId == CamadaSeisId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Oito:</label>
        <select @bind="exampleModel.CamadaOitoId">
            @foreach (var item in CamadaOito!.Where(sub => sub.CamadaSeteId == CamadaSeteId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p><p>
        <label>Story:</label>
        <select @bind="StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Story:</label>
        <select @bind="SubStoryId">
            @foreach (var item in SubStory!.Where(sub => sub.StoryId == StoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Grupo:</label>
        <select @bind="GrupoId">
            @foreach (var item in Grupo!.Where(sub => sub.SubStoryId == SubStoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Grupo:</label>
        <select @bind="SubGrupoId">
            @foreach (var item in SubGrupo!.Where(sub => sub.GrupoId == GrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Sub-Grupo:</label>
        <select @bind="SubSubGrupoId">
            @foreach (var item in SubSubGrupo!.Where(sub => sub.SubGrupoId == SubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Seis:</label>
        <select @bind="CamadaSeisId">
            @foreach (var item in CamadaSeis!.Where(sub => sub.SubSubGrupoId == SubSubGrupoId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Sete:</label>
        <select @bind="CamadaSeteId">
            @foreach (var item in CamadaSete!.Where(sub => sub.CamadaSeisId == CamadaSeisId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Camada Oito:</label>
        <select @bind="exampleModel.CamadaOitoId">
            @foreach (var item in CamadaOito!.Where(sub => sub.CamadaSeteId == CamadaSeteId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>

    <button type="submit">Alterar</button>
</EditForm>

@code {
    static string conexao = "Data Source=DESKTOP-7TI5J9C\\SQLEXPRESS;Initial Catalog=BlazorCms;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False";
    ApplicationDbContext context =  new ApplicationDbContext(conexao);
    private CamadaNove exampleModel = new();
    
    long StoryId = 0;
    long SubStoryId = 0;
    long GrupoId = 0;
    long SubGrupoId = 0;
    long SubSubGrupoId = 0;
    long CamadaSeisId = 0;
    long CamadaSeteId = 0;
    private List<Story> lista = new List<Story>();
    public List<SubStory> SubStory = new List<SubStory>();
    public List<Grupo> Grupo = new List<Grupo>();
    public List<SubGrupo> SubGrupo = new List<SubGrupo>();
    public List<SubSubGrupo> SubSubGrupo = new List<SubSubGrupo>();
    public List<CamadaSeis> CamadaSeis = new List<CamadaSeis>();
    public List<CamadaSete> CamadaSete = new List<CamadaSete>();
    public List<CamadaOito> CamadaOito = new List<CamadaOito>();

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        exampleModel = await context.CamadaNove!.Include(l => l.Filtro).FirstAsync(l => l.Id == Id);
        var camadaoito = await context.CamadaOito!.FirstAsync(l => l.Id == exampleModel.CamadaOitoId);
        CamadaSeteId = camadaoito.CamadaSeteId;
        var camadasete = await context.CamadaSete!.FirstAsync(l => l.Id == CamadaSeteId);
        CamadaSeisId = camadasete.CamadaSeisId;
        var camadaseis = await context.CamadaSeis!.FirstAsync(l => l.Id == CamadaSeisId);
        SubSubGrupoId = camadaseis.SubSubGrupoId;
        var subsubgrupo = await context.SubSubGrupo!.FirstAsync(l => l.Id == SubSubGrupoId);
        SubGrupoId = subsubgrupo.SubGrupoId;
        var subgrupo = await context.SubGrupo!.FirstAsync(l => l.Id == SubGrupoId);
        GrupoId = subgrupo.GrupoId;
        var grupo = await context.Grupo!.FirstAsync(l => l.Id == GrupoId);
        SubStoryId = grupo.SubStoryId;
        lista = await context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        StoryId = lista.First().Id;
        SubStory = await context.SubStory!.ToListAsync();
        Grupo = await context.Grupo!.ToListAsync();
        SubGrupo = await context.SubGrupo!.ToListAsync();
        SubSubGrupo = await context.SubSubGrupo!.ToListAsync();
        CamadaSeis = await context.CamadaSeis!.ToListAsync();
        CamadaSete = await context.CamadaSete!.ToListAsync();
        CamadaOito = await context.CamadaOito!.ToListAsync();
    }

    private async void HandleSubmit()
    {
        exampleModel.Filtro!.Nome = exampleModel.Nome;
        context.Update(exampleModel);
        context.Update(exampleModel.Filtro);
        await context.SaveChangesAsync();
        navigation.NavigateTo("camadanove");
        // Process the form
    }
}

