@page "/user-book"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@inject IJSRuntime js
<h3>Definir Livro</h3>

<p>
    <label>Pesquisar:</label>
    <input id="url" @bind-value="Url" @bind-value:event="oninput" />
</p>


<EditForm Model="@livro" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />  
    <select @bind="livro.url">
        <option value="0" >Selecione uma opção</option>
        @{
            if(Url != null)
            foreach (var item in livros!.Where(sub => sub.url.Contains(Url)))
            {
                <option value="@item.url">@item.url</option>
            }
         }
    </select>
    <p>
        <label>Capitulo:</label>
        <InputNumber id="Capitulo" @bind-Value="@livro.Capitulo"></InputNumber>
    </p>
    <button type="submit">Definir</button>
</EditForm>

@code {
    Livro livro = new Livro();
    List<Livro> livros = new List<Livro>();
    public string? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        livros = await repositoryPagina!.Context.Livro!.ToListAsync();
    }


    private async void HandleSubmit()
    {
        var authState = await AuthenticationStateProvider
           .GetAuthenticationStateAsync();
        var user = authState.User;


        var liv = await repositoryPagina!.Context.Livro!.FirstOrDefaultAsync(l => l.url == livro.url);
        liv.Capitulo = livro.Capitulo;

        var userBook = await repositoryPagina!.Context.UserBook.FirstOrDefaultAsync(u => u.user == user.Identity!.Name);
        if(userBook == null)
        {
            userBook = new business.business.UserBook
            {
                LivroId = liv.Id,
                    user = user.Identity!.Name,
                    Capitulo = liv.Capitulo
            };
            await repositoryPagina!.Context.AddAsync(userBook);
            await repositoryPagina!.Context.SaveChangesAsync();
        }
        else
        {
            userBook.LivroId = liv.Id;
            userBook.Capitulo = liv.Capitulo;
            repositoryPagina!.Context.Update(userBook);
            await repositoryPagina!.Context.SaveChangesAsync();
        }
        navigation.NavigateTo("/");
    }

   async void selecionar(Livro liv)
    {
        await js!.InvokeAsync<object>("SelecionarLivro", liv.Id);
    }

    
}
