@page "/livro/definir-livro"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin")]
@inject IJSRuntime js
<h3>Definir Livro</h3>

<p>
    <label>Pesquisar:</label>
    <input id="url" @bind-value="Url" @bind-value:event="oninput" />
</p>


<EditForm Model="@livro" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />  
    <select @bind="livro.url">
        <option value="0" >Selecione uma opção</option>
        @{
            if(Url != null)
            foreach (var item in livros!.Where(sub => sub.url.Contains(Url)))
            {
                <option value="@item.url">@item.url</option>
            }
         }
    </select>
    <p>
        <label>Capitulo:</label>
        <InputNumber id="Capitulo" @bind-Value="@livro.Capitulo"></InputNumber>
    </p>
    <button type="submit">Definir</button>
</EditForm>

@code {
    Livro livro = new Livro();
    List<Livro> livros = new List<Livro>();
    public string? Url { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnInitializedAsync()
    {
         Context = db.CreateDbContext(null);
        livros = await Context.Livro!.ToListAsync();
    }


    private async void HandleSubmit()
    {
        var liv = await Context.Livro!.FirstOrDefaultAsync(l => l.url == livro.url);
        if(liv != null && livro.Capitulo != 0)
        {
            while (await Context.Livro!.FirstOrDefaultAsync(l => l.Compartilhando) != null)
            {
                var l = await Context.Livro!.FirstOrDefaultAsync(l => l.Compartilhando);
                if(l != null)
                {
                    l.Compartilhando = false;
                    Context.Update(l);
                    await Context.SaveChangesAsync();
                }                
            }
            liv.Compartilhando = true;
            liv.Capitulo = livro.Capitulo;
            Context.Update(liv);
            await Context.SaveChangesAsync();
        }        
        navigation.NavigateTo("livro");
    }

   async void selecionar(Livro liv)
    {
        await js!.InvokeAsync<object>("SelecionarLivro", liv.Id);
    }

    
}
