@page "/user-book/livro2"
@inject RepositoryPagina repositoryPagina
@inject NavigationManager navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@inject IJSRuntime js
<h3>Definir Livro 2</h3>

<a href="#" onclick="@(() => navigation.NavigateTo("/user-book/livro3"))" class="btn btn-primary" >Definir Livro 3</a>

<p>
    <label>Pesquisar:</label>
    <input id="url" @bind-value="Url" @bind-value:event="oninput" />
</p>


<EditForm Model="@livro" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <select @bind="livro.url">
        <option value="0">Selecione uma opção</option>
        @{
            if (Url != null)
                foreach (var item in livros!.Where(sub => sub.url.Contains(Url)))
                {
                    <option value="@item.url">@item.url</option>
                }
        }
    </select>
    <p>
        <label>Capitulo:</label>
        <InputNumber id="Capitulo" @bind-Value="@livro.Capitulo"></InputNumber>
    </p>
    <button type="submit">Definir</button>
</EditForm>

@code {
    Livro livro = new Livro();
    List<Livro> livros = new List<Livro>();
    public string? Url { get; set; }
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    protected override async Task OnInitializedAsync()
    {
        Context = db.CreateDbContext(null);
        livros = await Context.Livro!.ToListAsync();
    }


    private async void HandleSubmit()
    {
        var authState = await AuthenticationStateProvider
           .GetAuthenticationStateAsync();
        var user = authState.User;


        var liv = await Context.Livro!.FirstOrDefaultAsync(l => l.url == livro.url);
        liv.Capitulo = livro.Capitulo;

        UserBook2 userBook = await Context.UserBook2.FirstOrDefaultAsync(u => u.user == user.Identity!.Name);
        if (userBook == null)
        {
            userBook = new business.business.UserBook2
                {
                    LivroId = liv.Id,
                    user = user.Identity!.Name,
                    Capitulo = liv.Capitulo
                };
            await Context.AddAsync(userBook);
            await Context.SaveChangesAsync();
        }
        else
        {
            userBook.LivroId = liv.Id;
            userBook.user = user.Identity!.Name;
            userBook.Capitulo = liv.Capitulo;
            Context.Update(userBook);
            await Context.SaveChangesAsync();
        }
        navigation.NavigateTo("/user-book/livro3");
    }

    async void selecionar(Livro liv)
    {
        await js!.InvokeAsync<object>("SelecionarLivro", liv.Id);
    }


}
