@page "/subgrupo/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Nome:</label>
        <InputText id="Nome" @bind-Value="exampleModel.Nome" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="exampleModel.StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Sub-Story:</label>
        <select @bind="SubStoryId">
            @foreach (var item in SubStory!.Where(sub => sub.StoryId == StoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Grupo:</label>
        <select @bind="exampleModel.GrupoId">
            @foreach (var item in Grupo!.Where(sub => sub.SubStoryId == SubStoryId))
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    

    <button type="submit">Alterar</button>
</EditForm>

@code {
    private SubGrupo exampleModel = new();

    long StoryId = 0;
    long SubStoryId = 0;
    private List<Story> lista = new List<Story>();
    public List<SubStory> SubStory = new List<SubStory>();
    public List<Grupo> Grupo = new List<Grupo>();
    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.SubGrupo!.FirstAsync(l => l.Id == Id);
        var grupo = await Context.Grupo!.FirstAsync(l => l.Id == exampleModel.GrupoId);
        SubStoryId = grupo.SubStoryId;
        lista = await Context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        StoryId = lista.First().Id;
        SubStory = await Context.SubStory!.ToListAsync();
        Grupo = await Context.Grupo!.ToListAsync();
        
    }

    private async void HandleSubmit()
    {
        Context.Update(exampleModel);
        await Context.SaveChangesAsync();
        navigation.NavigateTo("crud/subgrupo/1");
        // Process the form
    }
}

