@page "/pagina/create"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Titulo:</label>
        <InputText id="Titulo" @bind-Value="exampleModel.Titulo" />
    </p>
    <p>
        <label>Story:</label>
        <select @bind="exampleModel.StoryId">
            @foreach (var item in lista)
            {
                <option value="@item.Id" id="option@(item.Id)">@item.Nome</option>
            }
        </select>
    </p>
    <p>
        <label>Pasta (Opcional):</label>
        <select @bind="exampleModel.SubStoryId">
            @foreach (var item in Filtro!.Where(sub => sub.StoryId == exampleModel.StoryId))
            {
                var filtros = repositoryPagina.paginas.First(p => p.StoryId == item.StoryId).Story.Filtro;
                var fil = filtros.First(f => f.Id == item.Id);
                var pasta = filtros.IndexOf(fil) + 1;
                <option value="@item.Id" id="option@(item.Id)">@item.Nome - pasta @pasta</option>
            }
        </select>
    </p>
   

    <button type="submit">Adicionar</button>
</EditForm>

@code {
    private Pagina exampleModel = new();

    
    private List<Story> lista = new List<Story>();
    public List<Filtro> Filtro = new List<Filtro>();

    protected override async Task OnInitializedAsync()
    {
        lista = await repositoryPagina!.Context.Story!
        .Where(str => str.Nome != "Padrao").ToListAsync();
        Filtro = await repositoryPagina!.Context.Filtro!.ToListAsync();
    }

    private async void HandleSubmit()
    {
        await repositoryPagina!.Context.AddAsync(exampleModel);
        await repositoryPagina!.Context.SaveChangesAsync();
        navigation.NavigateTo("pagina");
    }
}
