@page "/pagina/edit/{Id:long}"
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@attribute [Authorize(Roles = "Admin")]

@if(exampleModel != null)
{
    <Editor Id="contentextarea"
            Inline=false
            CloudChannel="5"
            Disable=false
            JsConfSrc="sample"
            ApiKey="m8nq39l31dv5y829ehcjsd0rciwei8crem0yubndhdgs72fd"
            ClassName="tinymce-wrapper" @bind-Value="exampleModel.ContentUser" />
    <EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            @if (exampleModel.Story != null)
            {
                @exampleModel.Story!.CapituloComNome
            }
        </p>
        <p>
            <label>Titulo:</label>
            <InputText id="Titulo" @bind-Value="exampleModel.Titulo" />
        </p>

        <p>
            <label>Camada:</label>
            <select onchange="@((ChangeEventArgs e) => alterarCamada(e))">
                
                    <option value="camada1">Camada 1</option>
                    <option value="camada2">Camada 2</option>
                    <option value="camada3">Camada 3</option>
                    <option value="camada4">Camada 4</option>
                    <option value="camada5">Camada 5</option>
                    <option value="camada6">Camada 6</option>
                    <option value="camada7">Camada 7</option>
                    <option value="camada8">Camada 8</option>
                    <option value="camada9">Camada 9</option>
                
            </select>
        </p>

        <p>
            <label>Pasta (Opcional):</label>
            <select @bind="pasta">
                <option value="0">Selecione uma opção</option>
                @if (exampleModel.StoryId != 0)
                {
                    @foreach (var item in Filtro!.Where(sub => sub.StoryId == exampleModel.StoryId))
                    {
                        var filtros = item.Story!.Filtro;
                        var fil = filtros!.First(f => f.Id == item.Id);
                        var pasta = filtros!.IndexOf(fil) + 1;
                        if (item.Id == pasta)
                        {
                            <option value="@item.Id" selected="selected">@item.Nome - pasta @pasta - @GetCamada(item) </option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome - pasta @pasta - @GetCamada(item) </option>
                        }

                    }
                }
                else
                {
                    @foreach (var item in Filtro!.Where(sub => sub.StoryId == lista.First().Id))
                    {
                        var filtros = item.Story!.Filtro;
                        var fil = filtros!.First(f => f.Id == item.Id);
                        var pasta = filtros!.IndexOf(fil) + 1;
                        if(item.Id == pasta)
                        {
                            <option value="@item.Id" selected="selected" >@item.Nome - pasta @pasta - @GetCamada(item) </option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nome - pasta @pasta - @GetCamada(item) </option>
                        }
                        

                    }
                }
            </select>
        </p>


        <button type="submit">Alterar</button>
    </EditForm>
}

@code {
    private Pagina? exampleModel;
    public long? pasta { get; set; }

    private List<Story> lista = new List<Story>();
    public List<Filtro> Filtro = new List<Filtro>();

    private DemoContextFactory db = new DemoContextFactory();
    private ApplicationDbContext Context;

    [Parameter]public long Id{ get; set; }

    protected async override Task OnParametersSetAsync()
    {
        Context = db.CreateDbContext(null);
        exampleModel = await Context.Pagina!.Include(l => l.Story).FirstAsync(l => l.Id == Id);
        lista = await Context.Story!
           .Where(str => str.Nome != "Padrao").ToListAsync();
        exampleModel.StoryId = lista.First().Id;
        Filtro = await Context.Filtro!.ToListAsync();
       
                 if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is CamadaDez  ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  CamadaDez  )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is CamadaNove ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  CamadaNove )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is CamadaOito ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  CamadaOito )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is CamadaSete ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  CamadaSete )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is CamadaSeis ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  CamadaSeis )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is SubSubGrupo) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  SubSubGrupo)!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is SubGrupo   ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  SubGrupo   )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is Grupo      ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  Grupo      )!.Id;
            else if (exampleModel.Filtro!.FirstOrDefault(f => f.Filtro is SubStory   ) != null)pasta = exampleModel.Filtro!.First(f =>  f.Filtro  is  SubStory   )!.Id;
    }

    private async void HandleSubmit()
    {
        if(pasta != 0)
        {
            var fil = Filtro.First(f => f.Id == pasta);
            setPastas(fil);
        }

            Context.Update(exampleModel);
            await Context.SaveChangesAsync();
        repositoryPagina!.paginas!.RemoveAll(p => p.Story!.PaginaPadraoLink == exampleModel.Story!.PaginaPadraoLink);
        navigation.NavigateTo("crud/pagina/1");
        // Process the form
    }

    protected async void setPastas(Filtro Model)
    {
        if (Model is SubStory)
        {
            exampleModel!.IncluiFiltro(Model);
        }

        if (Model is Grupo)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (Grupo)Model;
            var subtory = Context.SubStory!.First(l => l.Id == gr1.SubStoryId);
            exampleModel!.IncluiFiltro(subtory);
        }

        if (Model is SubGrupo)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (SubGrupo)Model;
            var grupo = Context.Grupo!.First(l => l.Id == gr1.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is SubSubGrupo)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (SubSubGrupo)Model;
            var subgrupo = Context.SubGrupo!.First(l => l.Id == gr1.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is CamadaSeis)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (CamadaSeis)Model;
            var subsubgrupo = Context.SubSubGrupo!.First(l => l.Id == gr1.SubSubGrupoId);
            exampleModel!.IncluiFiltro(subsubgrupo);
            var subgrupo = Context.SubGrupo!.First(l => l.Id == subsubgrupo.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is CamadaSete)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (CamadaSete)Model;
            var camadaseis = Context.CamadaSeis!.First(l => l.Id == gr1.CamadaSeisId);
            exampleModel!.IncluiFiltro(camadaseis);
            var subsubgrupo = Context.SubSubGrupo!.First(l => l.Id == camadaseis.SubSubGrupoId);
            exampleModel!.IncluiFiltro(subsubgrupo);
            var subgrupo = Context.SubGrupo!.First(l => l.Id == subsubgrupo.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is CamadaOito)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (CamadaOito)Model;
            var camadasete = Context.CamadaSete!.First(l => l.Id == gr1.CamadaSeteId);
            exampleModel!.IncluiFiltro(camadasete);
            var camadaseis = Context.CamadaSeis!.First(l => l.Id == camadasete.CamadaSeisId);
            exampleModel!.IncluiFiltro(camadaseis);
            var subsubgrupo = Context.SubSubGrupo!.First(l => l.Id == camadaseis.SubSubGrupoId);
            exampleModel!.IncluiFiltro(subsubgrupo);
            var subgrupo = Context.SubGrupo!.First(l => l.Id == subsubgrupo.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is CamadaNove)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (CamadaNove)Model;
            var camadaoito = Context.CamadaOito!.First(l => l.Id == gr1.CamadaOitoId);
            exampleModel!.IncluiFiltro(camadaoito);
            var camadasete = Context.CamadaSete!.First(l => l.Id == camadaoito.CamadaSeteId);
            exampleModel!.IncluiFiltro(camadasete);
            var camadaseis = Context.CamadaSeis!.First(l => l.Id == camadasete.CamadaSeisId);
            exampleModel!.IncluiFiltro(camadaseis);
            var subsubgrupo = Context.SubSubGrupo!.First(l => l.Id == camadaseis.SubSubGrupoId);
            exampleModel!.IncluiFiltro(subsubgrupo);
            var subgrupo = Context.SubGrupo!.First(l => l.Id == subsubgrupo.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }

        if (Model is CamadaDez)
        {
            exampleModel!.IncluiFiltro(Model);
            var gr1 = (CamadaDez)Model;
            var camadanove = Context.CamadaNove!.First(l => l.Id == gr1.CamadaNoveId);
            exampleModel!.IncluiFiltro(camadanove);
            var camadaoito = Context.CamadaOito!.First(l => l.Id == camadanove.CamadaOitoId);
            exampleModel!.IncluiFiltro(camadaoito);
            var camadasete = Context.CamadaSete!.First(l => l.Id == camadaoito.CamadaSeteId);
            exampleModel!.IncluiFiltro(camadasete);
            var camadaseis = Context.CamadaSeis!.First(l => l.Id == camadasete.CamadaSeisId);
            exampleModel!.IncluiFiltro(camadaseis);
            var subsubgrupo = Context.SubSubGrupo!.First(l => l.Id == camadaseis.SubSubGrupoId);
            exampleModel!.IncluiFiltro(subsubgrupo);
            var subgrupo = Context.SubGrupo!.First(l => l.Id == subsubgrupo.SubGrupoId);
            exampleModel!.IncluiFiltro(subgrupo);
            var grupo = Context.Grupo!.First(l => l.Id == subgrupo.GrupoId);
            exampleModel!.IncluiFiltro(grupo);
            var SubStory = Context.SubStory!.First(l => l.Id == grupo.SubStoryId);
            exampleModel!.IncluiFiltro(SubStory);
        }
    }

    protected string GetCamada(Filtro Model)
    {
        string result = "";
        if (Model is SubStory)
        {
            result += "camada 1";
        }

        if (Model is SubStory)
        {
            result += "camada 2";
        }

        if (Model is SubStory)
        {
            result += "camada 3";
        }

        if (Model is SubStory)
        {
            result += "camada 4";
        }

        if (Model is SubStory)
        {
            result += "camada 5";
        }

        if (Model is SubStory)
        {
            result += "camada 6";
        }

        if (Model is SubStory)
        {
            result += "camada 7";
        }

        if (Model is SubStory)
        {
            result += "camada 8";
        }

        if (Model is SubStory)
        {
            result += "camada 9";
        }
        return result;
    }

    private async void alterarCamada(ChangeEventArgs e)
    {
        if (e.Value.ToString() == "camada1")
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is SubStory).ToList();
        else if (e.Value.ToString() == "camada2")
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is Grupo).ToList();
        else if (e.Value.ToString() == "camada3")                       
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is SubGrupo).ToList();
        else if (e.Value.ToString() == "camada4")                       
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is SubSubGrupo).ToList();
        else if (e.Value.ToString() == "camada5")                      
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is CamadaSeis).ToList();
        else if (e.Value.ToString() == "camada6")                      
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is CamadaSete).ToList();
        else if (e.Value.ToString() == "camada7")                      
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is CamadaOito).ToList();
        else if (e.Value.ToString() == "camada8")                       
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is CamadaNove).ToList();
        else if (e.Value.ToString() == "camada9")                       
            Filtro = Context.Filtro!.Include(f => f.Story).Where(f => f is CamadaDez).ToList();

        if (Filtro.Count == 0)
            Filtro = Context.Filtro.Include(f => f.Story).ToList();

        Filtro = Filtro
        .ToList();
    }

}

