@page "/config"
@attribute [Authorize(Roles = "Admin, Assinante")]
@inject NavigationManager navigation
@inject RepositoryPagina repositoryPagina
@inject HttpClient http
@inject UserManager<UserModel> userManager

<PageTitle> Configurações </PageTitle>



<input type="number" placeholder="Quant. de slides" min="2" max="50"
@onchange="(ChangeEventArgs e) => { repositoryPagina.quantSlidesCarregando = int.Parse(e.Value.ToString()); }"
style="width:300px" value="@repositoryPagina.quantSlidesCarregando" />

<input type="number" placeholder="Minutos para desabilitar auto" min="10" 
@onchange="(ChangeEventArgs e) => { repositoryPagina.QuantMinutos = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 1 de filtros"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta1 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 2 de filtros"
min="@(repositoryPagina.meta1 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta2 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 3 de filtros"
min="@(repositoryPagina.meta2 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta3 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 4 de filtros"
min="@(repositoryPagina.meta3 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta4 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 5 de filtros"
min="@(repositoryPagina.meta4 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta5 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 6 de filtros"
min="@(repositoryPagina.meta5 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta6 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 7 de filtros"
min="@(repositoryPagina.meta6 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta7 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<input type="number" placeholder="Informe a meta n° 8 de filtros"
min="@(repositoryPagina.meta7 + 1)"
@onchange="(ChangeEventArgs e) => { repositoryPagina.meta8 = int.Parse(e.Value.ToString()); }"
style="width:300px" />

<p>Configurações de filtro</p>

<div class="container">        
    <p><a href="/crud/camada2/1">sub-stories</a>  </p>
    <p><a href="/crud/camada3/1">grupos</a>          </p>
    <p><a href="/crud/camada4/1">sub-grupos</a>   </p>
    <p><a href="/crud/camada5/1">sub-sub-grupos</a>  </p>
    <p><a href="/crud/camada6/1">camada seis</a></p>
    <p><a href="/crud/camada7/1">camada sete</a></p>
    <p><a href="/crud/camada8/1">camada oito</a></p>
    <p><a href="/crud/camada9/1">camada nove</a></p>
    <p><a href="/crud/camada10/1">camada dez</a>  </p>
</div>

<hr />

<p>Configurações de conteudo</p>

<div class="container">
    <p><a href="/crud/livro/1">livros</a>   </p>
    <p><a href="crud/story/1">Stories</a>   </p>
    <p><a href="crud/pagina/1">Paginas</a>  </p>
    <p><a href="crud/instante/1">Instante</a>  </p>
    <p><a href="add-permissao">Adicionar permmissão de gerenciador</a>  </p>
    <p><a href="remove-permissao">Remover permissão de gerenciador</a>  </p>
    <p><a href="permissaolivro">Permissões de acesso ao livro</a>  </p>
</div>



@code {   

    protected override void OnInitialized()
    {

    }

}
